<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/Actividad_007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![logo](https://www.python.org/static/community_logos/python-powered-h-70x91.png)

# â˜¯ <font color="RoyalBlue">**Actividad 007**</font>

- http://blog.properati.com.ar/properati-tools/
- https://www.properati.com.ar/data

![](https://blog.properati.com.ar/wp-content/uploads/2023/01/barrio-norte-buenos-aires-1128x484.jpg)

# <font color="RoyalBlue">**Limpiar y graficar...**

Nos encontramos iniciando un nuevo proyecto, nuestra empresa es una pequeÃ±a inmobiliaria que quiere fusionar el potencial del manejo de datos con la venta/alquiler de propiedades. Al ser una pequeÃ±a empresa el ***departamento de datos*** esta compuesto por una persona: nosotros. 

Esto quiere decir que vamos a absorber los roles de:

- Ingeniero de Datos, y 
- Analista de Datos.

## <font color="RoyalBlue">**Ingesta de datos de propiedades**

***El dataset central de este proyecto de propiedades de Argentina, tiene la siguientes columnas:***

- **id** - Identificador del aviso. No es Ãºnico: si el aviso es actualizado por la inmobiliaria (nueva versiÃ³n del aviso) se crea un nuevo registro con la misma id pero distintas fechas: de alta y de baja.
- **ad_type** - Tipo de aviso (Propiedad, Desarrollo/Proyecto).
- **start_date** - Fecha de alta del aviso.
- **end_date** - Fecha de baja del aviso.
- **created_on** - Fecha de alta de la primera versiÃ³n del aviso.
- **lat** - Latitud.
- **lon** - Longitud.
- **l1** - Nivel administrativo 1: paÃ­s.
- **l2** - Nivel administrativo 2: usualmente provincia.
- **l3** - Nivel administrativo 3: usualmente ciudad.
- **l4** - Nivel administrativo 4: usualmente barrio.
- **l5** - sin informacion
- **l6** - sin informacion
- **rooms** - Cantidad de ambientes
- **bedrooms** - Cantidad de dormitorios
- **bathrooms** - Cantidad de baÃ±os.
- **surface_total** - Superficie total en mÂ².
- **surface_covered** - Superficie cubierta en mÂ².
- **price** - Precio publicado en el anuncio.
- **currency** - Moneda del precio publicado.
- **price_period** - Periodo del precio (Diario, Semanal, Mensual)
- **title** - TÃ­tulo del anuncio.
- **description** - DescripciÃ³n del anuncio.
- **property_type**: - Caracteristicas de la propiedad
- **operation_type**: - Caracteristicas de la operacion ['Venta', 'Alquiler', 'Alquiler temporal']

## <font color="RoyalBlue">**Habilitando bibliotecas**

***Habilitar las bibliotecas necesarias para generar un dataframe, hacer limpieza de datos, y generar grÃ¡ficos.***

### Para analisis de datos

In [ ]:
# mi codigo aqui

### Para grÃ¡ficos

In [ ]:
# mi codigo aqui

## <font color="RoyalBlue">**ObtenciÃ³n de los datos...**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

***Leer el archivo  ```.csv``` con Pandas y guardarlo en una variable llamada ```prop```***

In [ ]:
prop = pd.read_csv('ubicacion del archivo.csv.gz en google drive', 
                   compression='gzip', 
                   header=0, 
                   sep=',', 
                   quotechar='"')

***Observar los primeros 8 registros***

In [ ]:
# mi codigo aqui

***Observar los Ãºltimos 5 registros***

In [ ]:
# mi codigo aqui

***Imprimir la cantidad de filas y columnas del dataframe***

**PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $1000000$ filas y $25$ columnas...***

In [ ]:
prop.shape
print(f"El dataset contiene {prop.shape[0]} filas y {prop.shape[1]} columnas")

El dataset contiene 1000000 filas y 25 columnas

**Usar info**

In [ ]:
# mi codigo aqui

***Usar ```describe()``` para variables cuantitativas y mostrar el resumen con dos decimales y transpuesto (transposicion)...***

In [ ]:
# mi codigo aqui

***Usar ```describe()``` para variables cualitativas y mostrar resumen transpuesto...***

In [ ]:
# mi codigo aqui

***Ver si existen valores nulos***

In [ ]:
# mi codigo aqui

***Ver si existen valores duplicados***

In [ ]:
# mi codigo aqui

**PUNTO DE REVISIÃ“N**

***Antes de empezar con la limpieza de los datos el dataframe tiene $1000000$ filas y $25$ columnas...***

## âš¡ <font color="RoyalBlue">**Limpieza de los Datos**

***Ver si los nombres de las columnas tienen algun espacio oculto que nos dificulte al tratar de invocarlas, si encontras espacios ocultos, entonces se debe eliminar esos espacios ocultos.***

In [ ]:
# mi codigo aqui

***Ver los nulos que hay en el dataframe, en forma de porcentaje para cada columna, ordenado del mayor al menor...***

In [ ]:
# mi codigo aqui

***Eliminar columnas que tengan mas del $30$% de nulos (nans), luego de este paso deberian quedar $18$ columnas si lo hiciste bien...***

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $1000000$ filas y $18$ columnas...***

In [ ]:
# mi codigo aqui

***Quedarse con solo los registros que tienen un $90$% de sus celdas libres de nulos (nans), luego de este paso deberia quedarte $922772$ registros.***

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $922772$ filas y $18$ columnas...***

***El analisis se realizarÃ¡ sobre el *AMBA*, eliminar todo lo que no sea parte del mismo. Luego de este paso deberian quedarte $617747$ registros...***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**


***A esta altura el dataframe tiene $617747$ filas y $18$ columnas...***

***Chequear la columna l1 que representa al pais, deberia existir solo un valor: Argentina. Si hay otros valores eliminarlos...***

In [ ]:
# mi codigo aqui

***Los registros que tienen el mismo id son de la misma propiedad pero actualizado, quedarse con el mas actualizado, los demas eliminarlos.***

In [ ]:
# mi codigo aqui

***Eliminar las columnas:***

- **id** porque ya sabemos que todos los registros son diferentes y no vamos a usar esta columna para identificarlos.
- **l1** porque solo tiene un valor: Argentina. No aporta informacion a los datos.
- **description** y **title** porque no contamos con herramientas de NLP para volverlas informacion para visualizar o modelizar.

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $617747$ filas y $14$ columnas...***

***Ver los primeros registros del dataframe...***

In [ ]:
# mi codigo aqui

***Sospechamos que las columnas ```start_date``` y ```created_on``` en este caso tienen los mismos valores, chequearlo, si son iguales eliminar la columna ```created_on```...***

In [ ]:
# mi codigo aqui

***Si hiciste todo bien para este momento deberias tener un dataframe de $(617747, 13)$***

***Ver los primeros registros del dataframe...***

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $617747$ filas y $13$ columnas...***

In [ ]:
# mi codigo aqui

***Vamos a analizar la columna ```ad_type```, que tipos de datos unicos tiene, si solo tiene un tipo de dato categorico eliminarla porque no aporta informaciÃ³n....***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $617747$ filas y $12$ columnas...***

### AMBA

***Vamos a analizar la columna l3, para eso primero vamos a filtrar solo los lugares que pertenecen al AMBA, los cuales son:***
    
```python
municipios = ['Ciudad AutÃ³noma de Buenos Aires', 'Almirante Brown', 'Avellaneda', 'Berazategui', 'Esteban EcheverrÃ­a', 'Ezeiza', 'Florencio Varela', 'General San MartÃ­n', 'Hurlingham', 'ItuzaingÃ³', 'JosÃ© C. Paz', 'La Matanza', 'LanÃºs', 'Lomas de Zamora', 'Malvinas Argentinas', 'Merlo', 'Moreno', 'MorÃ³n', 'Quilmes', 'San Fernando', 'San Isidro', 'San Miguel', 'Tigre', 'Tres de Febrero', 'Vicente LÃ³pez']
```

***No vamos a directamente filtrar por los que esten en esta lista, porque no nos fiamos de los datos y tal vez hay alguno que simplemente en el dataset esta escrito de otra forma, por eso primero vamos a ver los registros cuya columna l3 no pertenece a la lista de municipios...***

In [ ]:
municipios = ['Ciudad AutÃ³noma de Buenos Aires', 'Almirante Brown', 'Avellaneda', 'Berazategui', 'Esteban EcheverrÃ­a', 'Ezeiza', 'Florencio Varela', 'General San MartÃ­n', 'Hurlingham', 'ItuzaingÃ³', 'JosÃ© C. Paz', 'La Matanza', 'LanÃºs', 'Lomas de Zamora', 'Malvinas Argentinas', 'Merlo', 'Moreno', 'MorÃ³n', 'Quilmes', 'San Fernando', 'San Isidro', 'San Miguel', 'Tigre', 'Tres de Febrero', 'Vicente LÃ³pez']

In [ ]:
# mi codigo aqui

***Sacar de la seleccion anterior los que pertenecen a Capital Federal y los valores NaN, luego ver cuales son los valores unicos de l3 para ver si queda alguno que pertenece a los municipios pero se escribio con alguna diferencia...***

In [ ]:
# mi codigo aqui

***Vemos que hay un municipio que se escribio de forma diferente y lo hubiesemos eliminado, teniendo en cuenta esto eliminar todos los registros que no pertenezcan al AMBA, ojo: no eliminar los que tengan valor NaN***

In [ ]:
ambant = ['General RodrÃ­guez',
 'La Plata',
 'Escobar',
 'Pilar',
 'San Vicente',
 'Marcos Paz',
 'Presidente PerÃ³n',
 'CaÃ±uelas']

In [ ]:
# mi codigo aqui

***Para este paso deberias tener 528442 rows Ã— 12 columns...***

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $528442$ filas y $12$ columnas...***

### <font color="RoyalBlue"> **Latitud y longitud**

***Vamos a analizar la calidad de los datos en las columnas de lat y lon. Buscaremos posibles outliers o datos incorrectos, para eso calcula para ambas columnas: el promedio, el maximo y el minimo...***

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

***Evidentemente hay ciertos puntos que son incorrectos, sus coordenadas caen fuera del AMBA. Para eso buscamos cuales son los valores frontera para la latitud y longitud en el AMBA.***

***Estimamos un segmentos de latitudes de [-35, -34] y longitudes de [-59 a -58]***

***Eliminar todo lo que este fuera de esos rangos (no eliminar valores NaN)***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $499739$ filas y $12$ columnas...***

***Volver a chequear estadisticos de lat y lon para ver si ya saque valores incorrectos...***

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

***Eliminar los NaN de la columna l3***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $499633$ filas y $12$ columnas...***

***Volvamos a ver el porcentaje de nulos de cada columna...***

In [ ]:
# mi codigo aqui

***Veamos los valores unicos de la columna ```property_type```***

In [ ]:
# mi codigo aqui

***La columna se ve bien, hacemos lo mismo con ```operation_type```***

In [ ]:
# mi codigo aqui

***La columna se ve bien. Nos quedan price, currency, bathrooms y rooms.***

***Vamos a currency, veamos los valores unicos de esta columna...***

In [ ]:
# mi codigo aqui

***Tenemos el peso argentino, el dolar, el peso colombiano y NaN. Veamos los registros con NaN.***

In [ ]:
# mi codigo aqui

***Vemos que la cantidad de NaN en esta columna es del $1$%, sin esta columna no podremos saber en que moneda esta el precio, por lo que tampoco sabremos el precio (el precio es la columna mas interesante de este dataset). Decidimos eliminar los registros con NaN de la columna currency.***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $494382$ filas y $12$ columnas...***

***Volver a analizar el porcentaje de NaN de cada columna.***

In [ ]:
# mi codigo aqui

***Vemos que se eliminaron los NaN de price al eliminar los de currency, matamos 2 pajaros de un tiro.***

Ahora si crear una nueva columna **llamada precio** con el valor de las propiedades **en dolares**. Utilizar estas cotizaciones

1 dolar = $383 pesos argentinos

1 dolar = $4637 pesos colombianos

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $494382$ filas y $13$ columnas...***

### <font color="RoyalBlue"> **Alquiler temporal**

***Vamos a centrar el analisis en Alquiler y Venta, eliminamos los registros de 'Alquiler temporal'...***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $472774$ filas y $13$ columnas...***

***Ordenar por la columna precio de forma tanto ascendente como descendente y ver los registros mas caros y mas baratos para buscar posibles datos incorrectos...***

In [ ]:
# mi codigo aqui

### <font color="RoyalBlue"> **Registros entre 40 dolares o 5000000**

***Eliminar los registros cuyo precio sea inferior a 40 dolares o mayor a 5.000.000 dolares...***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $467968$ filas y $13$ columnas...***

***Eliminar las ventas cuyo precio sea menor a 5000 dolares***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $467586$ filas y $13$ columnas...***

***Vamos ahora a la columna bathrooms, eliminamos los registros cuyo valor en bathrooms sea mayor al de rooms + 1***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $465964$ filas y $13$ columnas...***

***Ordenar el dataset por la cantidad de baÃ±os tanto ascendente como de forma descendente para ver posibles registros incorrectos...***

In [ ]:
# mi codigo aqui

### <font color="RoyalBlue"> **Mas de 8 baÃ±os o mas de 15 habitaciones**

***Eliminar los registros que tengan mas de $8$ baÃ±os o mas de $15$ habitaciones...***

In [ ]:
# mi codigo aqui

***Eliminar la columna ```price``` y ```currency```, ya que vamos a utilizar la columna precio...***

In [ ]:
# mi codigo aqui

<font color="RoyalBlue"> ðŸ”µ **PUNTO DE REVISIÃ“N**

***A esta altura el dataframe tiene $465451$ filas y $11$ columnas...***

### <font color="RoyalBlue"> **Rellenado**

- ***Rellenar los NaN de bathrooms con la mediana de la columna bathrooms, hacer lo mismo con la columna rooms.***

Pero antes vamos a marcar los registros a los cuales vamos a inferir, para eso **primero de rellenar**, crea una columna llamada **rellenado** la cual tendra un 1 si alguno de sus campos fue rellenado por nosotros o 0 si no fue rellenado.

In [ ]:
# mi codigo aqui

***Calcular la cantidad de registros rellenados y no rellenados...***

In [ ]:
# mi codigo aqui

***Ahora si: RellenÃ¡ los NaN de bathrooms con la mediana de la columna bathrooms, hacer lo mismo con la columna rooms con la mediana de la columna rooms...***

In [ ]:
# mi codigo aqui

***Volver a analizar el porcentaje de NaN de cada columna. No deberia de existir ningun NaN en nuestro dataframe...***

In [ ]:
# mi codigo aqui

***Parece ser que el formato se encuentra correcto, vamos a aplicar una pequeÃ±a comprobacion logica: la fecha start_date puede ser igual o menor que end_date, nunca mayor. Si ocurre esto, eliminar los registros que contienen estos errores.***

In [ ]:
# mi codigo aqui

***Vamos a pasar las columnas start_date y end_date, que son strings, a formato datetime. Recorda que el formato de fecha que tenemos en nuestras columnas de fecha es %Y/%m/%d***

In [ ]:
# mi codigo aqui

In [ ]:
#prop.end_date = pd.to_datetime(prop["end_date"], format = "%Y/%m/%d")

***Al tratar de pasar la columna end_date a datetime nos sale un error, hay un registro que lo esta causando, investigar que registro causa este error...***

***Hay muchos registros que tienen como end_date 9999-12-31, como la documentacion es de mala calidad, la misma no especifica que significa que el end_date tenga este valor, pero aplicando un poco de sentido comun deducimos que los registros que tienen esta fecha significa que el aviso no se dio de baja, por lo cual no se vendio.***

***Cambiar los registros con esta fecha, cambiandola a la fecha de la primera publicacion de python por parte de Guido van Rossum:***
**1991-02-20**. 

***Los registros con esta fecha seran los que aun no se vendieron.***

In [ ]:
# mi codigo aqui

***Ahora si pasar la columna end_date a datetime...***

In [ ]:
# mi codigo aqui

***Vamos a cambiar el nombre de las columnas de la siguiente manera:...***

- start_date => inicio
- end_date => fin
- lat => lat
- lon => lon
- l2 => zona
- l3 => municipio
- rooms => ambientes
- bathrooms => baÃ±os
- property_type => tipo
- operation_type => operacion
- precio => precio
- rellenado => rellenado

In [ ]:
# mi codigo aqui

***Crear dos columnas nuevas:***

- ***aÃ±o_inicio:*** tiene que contener el numero de aÃ±o que hay en la fecha de la columna inicio
- ***mes_inicio:*** tiene que contener el numero de mes que hay en la fecha de la columna inicio

In [ ]:
# mi codigo aqui

***Por ultimo, reinicia el indice...***

In [ ]:
# mi codigo aqui

### <font color="RoyalBlue"> ðŸ¥‡ **Comprobacion**

***Si hasta aca lo hiciste bien te deberia quedar un dataset de $465451$ rows $Ã—$ $14$ columns y que tenga los siguientes parametros iguales:...***

In [ ]:
if (465451 - prop.shape[0]) == 0:
  print(f"Vamo nomaaaaaaaaaa")
else:
  print(f"Segui participando, todavia tenes una diferencia de {465451 - prop.shape[0]}")

Vamo nomaaaaaaaaaa

## <font color="RoyalBlue"> ðŸ“Š **AnÃ¡lisis de datos**

***El dueÃ±o de la inmobiliaria donde pertencemos no sabe lo que quiere, tampoco entiende que datos interesantes podriamos sacar de este dataset.***

***Por eso nuestro objetivo es encontrar posibles datos curiosos sobre el mismo.*** 

***Algunos ejemplos de datos curiosos podrian ser:***

- cantidad de propiedades por zona
- media de precios por zona
- media de precios por municipio
- promedio de precio por tipo de venta
- cantidad de ventas y de alquileres
- Graficos de barras o de linea, precio vs ambientes
- Cualquier cosa que te parezca interesante

---
<p>
<font color="RoyalBlue">

ðŸ’™ ðŸ’™ ðŸ’™ **Hemos concluido con esta  actividad, si sobreviste, te esta gustando python...** 
</font>
</p>

---

# ðŸ¤Ÿ