<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/Actividad_004_resuelta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![logo](https://www.python.org/static/community_logos/python-powered-h-70x91.png)

# â˜¯ <font color="RoyalBlue">**Actividad 004**</font>

## ðŸ”¹ **<font color="RoyalBlue">ActualizaciÃ³n de la biblioteca requerida</font>**

In [1]:
!pip install plotly --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.13.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)

## ðŸ”¹ <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

### **<font color="RoyalBlue">Para anÃ¡lisis de datos</font>**

In [2]:
import pandas as pd

### **<font color="RoyalBlue">Biblioteca grÃ¡fica</font>**

In [3]:
import plotly.express as px

## ðŸ”¹ <font color="RoyalBlue">**Salarios**</font>

### <font color="RoyalBlue">**Carga de datos**</font>

In [13]:
salarios = "https://raw.githubusercontent.com/cristiandarioortegayubro/P4DA/main/salaries.csv"

### <font color="RoyalBlue">**CreaciÃ³n del dataframe**</font>

In [14]:
df = pd.read_csv(salarios)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

## ðŸ”¹ <font color="RoyalBlue">**Actividades con el DataFrame**</font>

<p>
<font color="DarkBlue">

> **Dejamos solo los salarios en USD...** 
</font>
</p>

In [15]:
df.drop(columns=['salary','salary_currency'], inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary_in_usd       607 non-null    int64
 5   employee_residence  607 non-null    object
 6   remote_ratio        607 non-null    int64
 7   company_location    607 non-null    object
 8   company_size        607 non-null    object
dtypes: int64(3), object(6)
memory usage: 42.8+ KB

<p>
<font color="DarkBlue">

> **Â¿CuÃ¡les son los puestos que estan en el dataframe?...** 
</font>
</p>

In [17]:
df.job_title.unique()

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
       'Director of Data Science', 'Research Scientist',
       'Machine Learning Manager', 'Data Engineering Manager',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'AI Scientist', 'Computer Vision Engineer',
       'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
       '3D Computer Vision Researcher', 'Data Analytics Engineer',
       'Applied Data Scientist', 'Marketing Data Analyst',
       'Cloud Data Engineer', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Machine Learning Developer',
       'Applied Machine Learning Scientist', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
       'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead'],
      dtype=object)

<p>
<font color="DarkBlue">

> **Â¿CuÃ¡ntos son los puestos que estan en el dataframe?...** 
</font>
</p>

In [18]:
df.job_title.nunique()

50

<p>
<font color="DarkBlue">

> **Â¿CuÃ¡ntos registros hay de cada puesto en el dataframe?...** 
</font>
</p>

In [19]:
df.job_title.value_counts()

Data Scientist                              143
Data Engineer                               132
Data Analyst                                 97
Machine Learning Engineer                    41
Research Scientist                           16
Data Science Manager                         12
Data Architect                               11
Big Data Engineer                             8
Machine Learning Scientist                    8
Principal Data Scientist                      7
AI Scientist                                  7
Data Science Consultant                       7
Director of Data Science                      7
Data Analytics Manager                        7
ML Engineer                                   6
Computer Vision Engineer                      6
BI Data Analyst                               6
Lead Data Engineer                            6
Data Engineering Manager                      5
Business Data Analyst                         5
Head of Data                                  5
Applied Data Scientist                        5
Applied Machine Learning Scientist            4
Head of Data Science                          4
Analytics Engineer                            4
Data Analytics Engineer                       4
Machine Learning Developer                    3
Machine Learning Infrastructure Engineer      3
Lead Data Scientist                           3
Computer Vision Software Engineer             3
Lead Data Analyst                             3
Data Science Engineer                         3
Principal Data Engineer                       3
Principal Data Analyst                        2
ETL Developer                                 2
Product Data Analyst                          2
Director of Data Engineering                  2
Financial Data Analyst                        2
Cloud Data Engineer                           2
Lead Machine Learning Engineer                1
NLP Engineer                                  1
Head of Machine Learning                      1
3D Computer Vision Researcher                 1
Data Specialist                               1
Staff Data Scientist                          1
Big Data Architect                            1
Finance Data Analyst                          1
Marketing Data Analyst                        1
Machine Learning Manager                      1
Data Analytics Lead                           1
Name: job_title, dtype: int64

## ðŸ”¹ <font color="RoyalBlue">**A divertirse... ðŸ˜ƒ**</font>

<p>
<font color="DarkBlue">

> **Hacer un histograma con los tres roles con mas registros** 
</font>
</p>

In [25]:
px.histogram(df.query("job_title in ['Data Scientist', 'Data Engineer','Data Analyst']"),
             x="job_title",
             template = "gridon",
             labels = {"job_title":"Roles"},
             color = "job_title")

## ðŸ”¹ <font color="RoyalBlue">**Un poco mÃ¡s dificil... ðŸ˜ˆ**</font>

---
<p>
<font color="RoyalBlue">

ðŸ‘€ **Para los siguientes puntos se puede consultar la documentaciÃ³n tÃ©cnica de Pandas, la de Plotly, y la que necesiten...** ðŸ˜ƒ
</font>
</p>

---

<p>
<font color="DarkBlue">

> **Hacer un grÃ¡fico de torta con los tres roles con mas registros...** 
</font>
</p>

In [33]:
px.pie(df.query("job_title in ['Data Scientist', 'Data Engineer','Data Analyst']"),
       names="job_title",
       template = "gridon")

<p>
<font color="DarkBlue">

> **Hacer un grÃ¡fico de torta con los tres roles con mas registros, en virtud de su salario...** 
</font>
</p>

In [34]:
px.pie(df.query("job_title in ['Data Scientist', 'Data Engineer','Data Analyst']"),
       values="salary_in_usd",
       names="job_title",
       template = "gridon")

<p>
<font color="DarkBlue">

> **Hacer un boxplot con los tres roles con mas registros, en virtud de su salario...** 
</font>
</p>

In [37]:
px.box(df.query("job_title in ['Data Scientist', 'Data Engineer','Data Analyst']"),
       y="salary_in_usd",
       x="job_title",
       color="job_title",
       hover_name="job_title",
       template = "gridon")

<p>
<font color="DarkBlue">

> **Hacer un anÃ¡lisis estadistico de variables numÃ©ricas... los tres roles con mas registros...**
</font>
</p>

In [38]:
df.query("job_title in ['Data Scientist', 'Data Engineer','Data Analyst']").describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
work_year,372.0,2021.54,0.68,2020.0,2021.00,2022.0,2022.0,2022.0
salary_in_usd,372.0,105809.64,56762.53,2859.0,65009.75,100000.0,140000.0,412000.0
remote_ratio,372.0,70.83,42.21,0.0,50.00,100.0,100.0,100.0

<p>
<font color="Red">

> **Hacer un anÃ¡lisis estadistico de variables no numÃ©ricas... los tres roles con mas registros...** ðŸ˜ˆðŸ˜ˆðŸ˜ˆ
</font>
</p>

In [39]:
df.query("job_title in ['Data Scientist', 'Data Engineer','Data Analyst']").describe(include=[object]).round(2).T

                   count unique             top freq
experience_level     372      4              SE  178
employment_type      372      3              FT  365
job_title            372      3  Data Scientist  143
employee_residence   372     34              US  230
company_location     372     30              US  240
company_size         372      3               M  242

<p>
<font color="Red">

> **Hacer un grÃ¡fico que crea relevante y en una celda de texto, indicar el por quÃ© de la selecciÃ³n...** ðŸ˜ˆðŸ˜ˆðŸ˜ˆ
</font>
</p>

---
<p>
<font color="RoyalBlue">

ðŸ’™ ðŸ’™ ðŸ’™ **Hemos concluido con esta actividad, nos encontraremos en el proximo cuaderno, buen finde...** 
</font>
</p>

---

# ðŸ˜€