<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/Actividad_003_resuelta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![logo](https://www.python.org/static/community_logos/python-powered-h-70x91.png)

# â˜¯ <font color="RoyalBlue">**Actividad 003**</font>

## ðŸ”¹ **<font color="RoyalBlue">ActualizaciÃ³n de la biblioteca requerida</font>**

In [1]:
!pip install plotly --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.13.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)

## ðŸ”¹ <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

### **<font color="RoyalBlue">Para anÃ¡lisis de datos</font>**

In [2]:
import pandas as pd
import yfinance as yf # La usamos para traer datos remotos desde yahoo finanzas

### **<font color="RoyalBlue">Biblioteca grÃ¡fica</font>**

In [3]:
import plotly.express as px

## ðŸ”¹ <font color="RoyalBlue">**CotizaciÃ³n acciones de Microsoft, Apple y Google**</font>

### <font color="RoyalBlue">**CotizaciÃ³n de Microsoft**</font>

Ejecutar el siguiente script...

In [4]:
MSFT = yf.download("MSFT", start="2022-01-01", end="2022-03-31").round(2)

[*********************100%***********************]  1 of 1 completed

### <font color="RoyalBlue">**CotizaciÃ³n de Apple**</font>

Ejecutar el siguiente script...

In [5]:
AAPL = yf.download("AAPL", start="2022-01-01", end="2022-03-31").round(2)

[*********************100%***********************]  1 of 1 completed

### <font color="RoyalBlue">**CotizaciÃ³n de Google**</font>

Ejecutar el siguiente script...

In [6]:
GOOG = yf.download("GOOG", start="2022-01-01", end="2022-03-31").round(2)

[*********************100%***********************]  1 of 1 completed

## ðŸ”¹ <font color="RoyalBlue">**Actividades con el DataFrame**</font>

<p>
<font color="DarkBlue">

> **Visualizar los tres dataframes** 
</font>
</p>

In [7]:
MSFT

                             Open    High     Low   Close  Adj Close    Volume
Date
2022-01-03 00:00:00-05:00  335.35  338.00  329.78  334.75     331.64  28865100
2022-01-04 00:00:00-05:00  334.83  335.20  326.12  329.01     325.96  32674300
2022-01-05 00:00:00-05:00  325.86  326.07  315.98  316.38     313.44  40054300
2022-01-06 00:00:00-05:00  313.15  318.70  311.49  313.88     310.97  39646100
2022-01-07 00:00:00-05:00  314.15  316.50  310.09  314.04     311.12  32720000
...                           ...     ...     ...     ...        ...       ...
2022-03-24 00:00:00-04:00  299.14  304.20  298.32  304.10     301.90  24484500
2022-03-25 00:00:00-04:00  305.23  305.50  299.29  303.68     301.48  22566500
2022-03-28 00:00:00-04:00  304.33  310.80  304.33  310.70     308.45  29578200
2022-03-29 00:00:00-04:00  313.91  315.82  309.05  315.41     313.13  30393400
2022-03-30 00:00:00-04:00  313.76  315.95  311.58  313.86     311.59  28163600

[61 rows x 6 columns]

In [8]:
AAPL

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03 00:00:00-05:00,177.83,182.88,177.71,182.01,180.96,104487900
2022-01-04 00:00:00-05:00,182.63,182.94,179.12,179.70,178.66,99310400
2022-01-05 00:00:00-05:00,179.61,180.17,174.64,174.92,173.91,94537600
2022-01-06 00:00:00-05:00,172.70,175.30,171.64,172.00,171.01,96904000
2022-01-07 00:00:00-05:00,172.89,174.14,171.03,172.17,171.18,86709100
...,...,...,...,...,...,...
2022-03-24 00:00:00-04:00,171.06,174.14,170.21,174.07,173.29,90131400
2022-03-25 00:00:00-04:00,173.88,175.28,172.75,174.72,173.93,80546200
2022-03-28 00:00:00-04:00,172.17,175.73,172.00,175.60,174.81,90371900
2022-03-29 00:00:00-04:00,176.69,179.01,176.34,178.96,178.15,100589400
2022-03-30 00:00:00-04:00,178.55,179.61,176.70,177.77,176.97,92633200

In [9]:
GOOG

                             Open    High     Low   Close  Adj Close    Volume
Date
2022-01-03 00:00:00-05:00  144.48  145.55  143.50  145.07     145.07  25214000
2022-01-04 00:00:00-05:00  145.55  146.61  143.82  144.42     144.42  22928000
2022-01-05 00:00:00-05:00  144.18  144.30  137.52  137.65     137.65  49642000
2022-01-06 00:00:00-05:00  137.50  139.69  136.76  137.55     137.55  29050000
2022-01-07 00:00:00-05:00  137.90  138.25  135.79  137.00     137.00  19408000
...                           ...     ...     ...     ...        ...       ...
2022-03-24 00:00:00-04:00  139.27  141.40  138.04  141.31     141.31  20544000
2022-03-25 00:00:00-04:00  141.75  141.96  139.70  141.52     141.52  19270000
2022-03-28 00:00:00-04:00  140.68  141.98  139.83  141.95     141.95  23774000
2022-03-29 00:00:00-04:00  143.16  144.16  142.48  143.25     143.25  28678000
2022-03-30 00:00:00-04:00  142.87  143.48  142.17  142.64     142.64  21046000

[61 rows x 6 columns]

## ðŸ”¹ <font color="RoyalBlue">**A divertirse... ðŸ˜ƒ**</font>

<p>
<font color="DarkBlue">

> **Crear una columna que se llame Name, y colocar como valor el nombre de la acciÃ³n, es decir, su sÃ­mbolo (denominaciÃ³n que usamos en el parÃ¡metro de la funciÃ³n para obtener los datos remotos)...** 
</font>
</p>

In [10]:
MSFT["Name"] = "MSFT"

In [11]:
AAPL["Name"] = "AAPL"

In [12]:
GOOG["Name"] = "GOOG"

<p>
<font color="DarkBlue">

> **Concatenar los tres dataframes... usando el metodo de pandas ```concat()```** 
</font>
</p>

In [13]:
ACCIONES = pd.concat([MSFT, AAPL, GOOG])

In [14]:
ACCIONES

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2022-01-03 00:00:00-05:00,335.35,338.00,329.78,334.75,331.64,28865100,MSFT
2022-01-04 00:00:00-05:00,334.83,335.20,326.12,329.01,325.96,32674300,MSFT
2022-01-05 00:00:00-05:00,325.86,326.07,315.98,316.38,313.44,40054300,MSFT
2022-01-06 00:00:00-05:00,313.15,318.70,311.49,313.88,310.97,39646100,MSFT
2022-01-07 00:00:00-05:00,314.15,316.50,310.09,314.04,311.12,32720000,MSFT
...,...,...,...,...,...,...,...
2022-03-24 00:00:00-04:00,139.27,141.40,138.04,141.31,141.31,20544000,GOOG
2022-03-25 00:00:00-04:00,141.75,141.96,139.70,141.52,141.52,19270000,GOOG
2022-03-28 00:00:00-04:00,140.68,141.98,139.83,141.95,141.95,23774000,GOOG
2022-03-29 00:00:00-04:00,143.16,144.16,142.48,143.25,143.25,28678000,GOOG
2022-03-30 00:00:00-04:00,142.87,143.48,142.17,142.64,142.64,21046000,GOOG

<p>
<font color="DarkBlue">

> **Del dataframe resultante, dejar solo las columnas ```Close``` y ```Name```...** 
</font>
</p>

In [15]:
ACCIONES.drop(columns=["Open","High","Low","Adj Close","Volume"], inplace=True)

In [16]:
ACCIONES

                            Close  Name
Date
2022-01-03 00:00:00-05:00  334.75  MSFT
2022-01-04 00:00:00-05:00  329.01  MSFT
2022-01-05 00:00:00-05:00  316.38  MSFT
2022-01-06 00:00:00-05:00  313.88  MSFT
2022-01-07 00:00:00-05:00  314.04  MSFT
...                           ...   ...
2022-03-24 00:00:00-04:00  141.31  GOOG
2022-03-25 00:00:00-04:00  141.52  GOOG
2022-03-28 00:00:00-04:00  141.95  GOOG
2022-03-29 00:00:00-04:00  143.25  GOOG
2022-03-30 00:00:00-04:00  142.64  GOOG

[183 rows x 2 columns]

<p>
<font color="DarkBlue">

> **Al dataframe resultante, agregar una columna denominada ```Date``` con los valores del Ã­ndice...** 
</font>
</p>

In [17]:
ACCIONES.reset_index(inplace=True)

In [18]:
ACCIONES

                         Date   Close  Name
0   2022-01-03 00:00:00-05:00  334.75  MSFT
1   2022-01-04 00:00:00-05:00  329.01  MSFT
2   2022-01-05 00:00:00-05:00  316.38  MSFT
3   2022-01-06 00:00:00-05:00  313.88  MSFT
4   2022-01-07 00:00:00-05:00  314.04  MSFT
..                        ...     ...   ...
178 2022-03-24 00:00:00-04:00  141.31  GOOG
179 2022-03-25 00:00:00-04:00  141.52  GOOG
180 2022-03-28 00:00:00-04:00  141.95  GOOG
181 2022-03-29 00:00:00-04:00  143.25  GOOG
182 2022-03-30 00:00:00-04:00  142.64  GOOG

[183 rows x 3 columns]

<p>
<font color="DarkBlue">

> **Verificar los tipos de datos de las columnas del dataframe...** 
</font>
</p>

In [19]:
ACCIONES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    183 non-null    datetime64[ns, America/New_York]
 1   Close   183 non-null    float64
 2   Name    183 non-null    object
dtypes: datetime64[ns, America/New_York](1), float64(1), object(1)
memory usage: 4.4+ KB

## ðŸ”¹ <font color="RoyalBlue">**Un poco mÃ¡s dificil... ðŸ˜ˆ**</font>

---
<p>
<font color="RoyalBlue">

ðŸ‘€ **Para los siguientes puntos se puede consultar la documentaciÃ³n tÃ©cnica de Pandas, la de Plotly, y la que necesiten...** ðŸ˜ƒ
</font>
</p>

---

<p>
<font color="DarkBlue">

> **Cambiar los formatos del tipo de dato fecha..., para que quede aÃ±o, mes y dÃ­a...** 
</font>
</p>

https://es.stackoverflow.com/questions/480149/como-quitar-hora-a-fecha-en-pandas

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html

In [20]:
ACCIONES["Date"] = pd.to_datetime(ACCIONES.Date.dt.date)

In [21]:
ACCIONES

          Date   Close  Name
0   2022-01-03  334.75  MSFT
1   2022-01-04  329.01  MSFT
2   2022-01-05  316.38  MSFT
3   2022-01-06  313.88  MSFT
4   2022-01-07  314.04  MSFT
..         ...     ...   ...
178 2022-03-24  141.31  GOOG
179 2022-03-25  141.52  GOOG
180 2022-03-28  141.95  GOOG
181 2022-03-29  143.25  GOOG
182 2022-03-30  142.64  GOOG

[183 rows x 3 columns]

In [22]:
ACCIONES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    183 non-null    datetime64[ns]
 1   Close   183 non-null    float64
 2   Name    183 non-null    object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.4+ KB

<p>
<font color="DarkBlue">

> **Hacer un grÃ¡fico lineal que muestre todas las acciones...** 
</font>
</p>

In [23]:
px.line(ACCIONES, 
        x="Date", 
        y="Close", 
        color="Name",
        title='Acciones de Microsoft, Apple y Google',
        template="gridon",
        markers=True,
        hover_name="Name")

<p>
<font color="DarkBlue">

> **Hacer un boxplot... para cada acciÃ³n... y en lo posible visualizar tambiÃ©n los puntos en el mismo grÃ¡fico...** 
</font>
</p>

In [24]:
ACCIONES.head()

        Date   Close  Name
0 2022-01-03  334.75  MSFT
1 2022-01-04  329.01  MSFT
2 2022-01-05  316.38  MSFT
3 2022-01-06  313.88  MSFT
4 2022-01-07  314.04  MSFT

In [25]:
MSFT = ACCIONES.query("Name == 'MSFT'")

In [26]:
px.box(MSFT, 
       y = "Close",
       template = "gridon",
       color = "Name",
       title = "Microsoft",
       points="all",
       hover_name="Date")

In [27]:
AAPL = ACCIONES.query("Name == 'AAPL'")

In [28]:
px.box(AAPL, 
       y = "Close",
       template = "gridon",
       color = "Name",
       title = "Apple",
       points="all",
       hover_name="Date")

In [29]:
GOOG = ACCIONES.query("Name == 'GOOG'")

In [30]:
px.box(GOOG, 
       y = "Close",
       template = "gridon",
       color = "Name",
       title = "Google",
       points="all",
       hover_name="Date")

<p>
<font color="DarkBlue">

> **Ahora hacer un boxplot... para todas las acciones... y en lo posible visualizar tambiÃ©n los puntos en el mismo grÃ¡fico...** 
</font>
</p>

In [31]:
px.box(ACCIONES, 
       y = "Close",
       template = "gridon",
       color = "Name",
       title = "Microsoft, Apple y Google",
       points="all",
       hover_name="Date")

<p>
<font color="Red">

> **Y por Ãºltimo, hacer un grÃ¡fico financiero de velas... para las acciones de Google...** ðŸ˜ˆðŸ˜ˆðŸ˜ˆ
</font>
</p>

In [37]:
GOOG = yf.download("GOOG", start="2022-01-01", end="2022-03-31").round(2)
GOOG.reset_index(inplace=True)
GOOG["Date"] = pd.to_datetime(GOOG.Date.dt.date)
GOOG

[*********************100%***********************]  1 of 1 completed

         Date    Open    High     Low   Close  Adj Close    Volume
0  2022-01-03  144.48  145.55  143.50  145.07     145.07  25214000
1  2022-01-04  145.55  146.61  143.82  144.42     144.42  22928000
2  2022-01-05  144.18  144.30  137.52  137.65     137.65  49642000
3  2022-01-06  137.50  139.69  136.76  137.55     137.55  29050000
4  2022-01-07  137.90  138.25  135.79  137.00     137.00  19408000
..        ...     ...     ...     ...     ...        ...       ...
56 2022-03-24  139.27  141.40  138.04  141.31     141.31  20544000
57 2022-03-25  141.75  141.96  139.70  141.52     141.52  19270000
58 2022-03-28  140.68  141.98  139.83  141.95     141.95  23774000
59 2022-03-29  143.16  144.16  142.48  143.25     143.25  28678000
60 2022-03-30  142.87  143.48  142.17  142.64     142.64  21046000

[61 rows x 7 columns]

In [35]:
import plotly.graph_objects as go

In [40]:
fig = go.Figure(data=[go.Candlestick(x=GOOG["Date"],
                open=GOOG['Open'],
                high=GOOG['High'],
                low=GOOG['Low'],
                close=GOOG['Close'])])

fig.update_layout(template="gridon",
                  title="CotizaciÃ³n de Google")


fig.show()

---
<p>
<font color="RoyalBlue">

ðŸ’™ ðŸ’™ ðŸ’™ **Hemos concluido con esta actividad, nos encontraremos en el proximo cuaderno, buen finde...** 
</font>
</p>

---

# ðŸ˜€