<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/Actividad_006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![logo](https://www.python.org/static/community_logos/python-powered-h-70x91.png)

# â˜¯ <font color="RoyalBlue">**Actividad 006**</font>

## ðŸ”¹ **<font color="RoyalBlue">Preprocesamiento - CodificaciÃ³n e ImputaciÃ³n</font>**

## ðŸ”¹ <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

### **<font color="RoyalBlue">Para anÃ¡lisis de datos</font>**

In [ ]:
import pandas as pd
import numpy as np

## ðŸ”¹ <font color="RoyalBlue">**Dataframe**</font>

### <font color="RoyalBlue">**Fuente de datos**</font>

In [ ]:
url = "https://raw.githubusercontent.com/cristiandarioortegayubro/BA/main/Datasets/banco.csv"

### <font color="RoyalBlue">**CreaciÃ³n del dataframe**</font>

In [ ]:
analisis = pd.read_csv(url, index_col=0)
analisis.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

### <font color="RoyalBlue">**Actividades con los dataframes**</font>

<p align="justify"><b>
<font color="RoyalBlue">
Utilizar el metodo <code>info()</code>. Esta primera parte se viene facil, luego empieza a complicarse...
</font>
</p>

<p>
<font color="DarkBlue">

> **Informacion del dataframe** 
</font>
</p>

In [1]:
# codigo aqui

<p>
<font color="DarkBlue">

> **Constatar los valores unicos por variable (columna)** 
</font>
</p>

In [2]:
# codigo aqui

## ðŸ”¹ <font color="RoyalBlue">**A divertirse... ðŸ˜ˆ**</font>

---
<p>
<font color="RoyalBlue">

ðŸ‘€ **Para los siguientes puntos se puede consultar la documentaciÃ³n tÃ©cnica de Pandas y la que necesiten...** ðŸ˜ƒ
</font>
</p>

---

### <font color="RoyalBlue">**Limpieza y transformaciÃ³n de los datos**</font>

<p>
<font color="DarkBlue">

> **Reemplazar unknown con la palabra reservada <code>None</code>...** 
</font>
</p>

In [3]:
# codigo aqui

<p>
<font color="DarkBlue">

> **Verificar nulos...** 
</font>
</p>

In [4]:
# codigo aqui

<p>
<font color="DarkBlue">

> **Imputar...** 
</font>
</p>

La columna con mas nulos, reemplazar esos nulos con la palabra other.

In [5]:
# codigo aqui

Para contacto imputar con la palabra cellular

In [ ]:
# codigo aqui

Para educacion imputar con la palabra secondary

In [ ]:
# codigo aqui

Para job, imputar con la palabra student

In [ ]:
# codigo aqui

<p>
<font color="DarkBlue">

> **Codificar...** 
</font>
</p>

Codificar las siguientes columnas...

Las columnas a codificar son:
- job
- marital
- education
- default
- housing
- loan
- contact
- poutcome

In [ ]:
# codigo aqui

<p>
<font color="DarkBlue">

> **Como codificarian el mes?...** 
</font>
</p>

In [6]:
# codigo aqui

---
<p>
<font color="RoyalBlue">

ðŸ’™ ðŸ’™ ðŸ’™ **Hemos concluido con esta  actividad, nos encontraremos en el proximo cuaderno...** 
</font>
</p>

---

# ðŸ˜€