<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/Actividad_Final_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true">
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true">
</p>

 # **<font color="RoyalBlue">Web Scraping en Administraci칩n Tributaria Mendoza</font>**

<p align="center">
<img src="https://atm.mendoza.gov.ar/wp-content/uploads/2023/01/Frente-Atm.png">
</p>

https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_impuesto_ingresos.jsp

<p align="justify">
En la p치gina web de la Administraci칩n Tributaria Mendoza, podemos ver la recaudaci칩n por ejercicios fiscales del Impuesto sobre los Ingresos Brutos. Lo que vamos a hacer, es tomar esos datos y generar nuestro <code>DataFrame</code>. Una vez generado, vamos a graficar los distintos ejercicios y ver las diferencias entre ellos, y tambien hacemos algunos an치lisis estad칤sticos.</p>

Entonces 쯤ue tenemos que hacer?

- Generar nuestro DataFrame, tiene desde el a침o $2000$ hasta el a침o $2022$.
  - Ser칤a conveniente que los meses est칠n expresados en n칰meros.
  - Los meses deben ser el indice del DataFrame.
  - La dimensi칩n final del objeto es $(12, 23)$
- Graficar los primeros tres o cinco ejercicios.
- Graficar los 칰ltimos tres o cinco ejercicios.
- Hacer un breve an치lisis estad칤sticos de alg칰n ejercicio, por ejemplo:
  - Ver m치xima recaudaci칩n
  - Ver m칤nima recaudaci칩n
  - Ver alg칰na recaudaci칩n "at칤pica"
- Graficos recomendados (libertad de elecci칩n)
  - Lineal
  - Dispersi칩n
  - Histograma
  - Boxplot

 # **<font color="RoyalBlue">Habilitando bibliotecas requeridas</font>**

 ## **<font color="RoyalBlue">Para an치lisis de datos</font>**

<p align="justify"> 游 Ejecutar esta celda.
</p>

In [1]:
import numpy as np
import pandas as pd

 ## **<font color="RoyalBlue">Para web scraping</font>**

<p align="justify"> 游 Ejecutar esta celda.
</p>

In [2]:
import lxml
import bs4
import html5lib

 ## **<font color="RoyalBlue">Configuraciones del DataFrame</font>**

<p align="justify"> 游 Ejecutar esta celda.
</p>

In [3]:
pd.options.display.precision = 2
pd.options.display.float_format = "{:.2f}".format

 ## **<font color="RoyalBlue">Para graficos</font>**

<p align="justify"> 游 Ejecutar esta celda.
</p>

In [4]:
import plotly.express as px

# **<font color="RoyalBlue">Creando un DataFrame</font>**

<p align="justify"> 游 Ejecutar esta celda.
</p>

In [6]:
data = "https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_impuesto_ingresos.jsp"
lista = pd.read_html(data)
df = lista[0]
df

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify"> 游 A partir de ac치, hacer la magia...
</p>