<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/Mini_Actividad_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true">
</p>

# <font color="RoyalBlue">**Mini Actividad 001**</font>

<p align="center">
<img src="https://www.python.org/static/community_logos/python-powered-h-70x91.png">
</p>

## üîπ **<font color="RoyalBlue">Obtenci√≥n de datos HTML</font>**

https://atm.mendoza.gov.ar/

![](https://atm.mendoza.gov.ar/wp-content/uploads/2023/01/Frente-Atm.png)

<p align="justify">
En la p√°gina de la Administraci√≥n Tributaria Mendoza se encuentran tablas con los niveles de recaudaci√≥n. Nuestra misi√≥n, si desean aceptarla, es obtener esas tablas de la p√°gina web de la Administraci√≥n Tributaria Mendoza, y crear un DataFrame...
</p>

https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp

---
<p align="justify"><b>
<font color="DeepPink">
‚õ≥ Vamos por el desaf√≠o, que es automatizar los scrips para que de la lista inicial, se puedan crear todos los dataframes resultantes en virtud de los ejercicios fiscales que tiene la lista, es decir, desde el a√±o $2000$ hasta el a√±o actual.
</font>
</p>

---

## üîπ <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

### **<font color="RoyalBlue">Para an√°lisis de datos</font>**

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.precision = 2
pd.options.display.float_format = "{:.2f}".format

### **<font color="RoyalBlue">Biblioteca gr√°fica</font>**

In [3]:
import plotly.express as px

## üîπ <font color="RoyalBlue">**Creaci√≥n del DataFrame**</font>

### <font color="RoyalBlue">**Lectura de los datos**</font>

In [4]:
data = "https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp"

In [ ]:
lista = pd.read_html(data, flavor="html5lib", index_col=0, header=1, encoding='cp1252')

### <font color="RoyalBlue">**Cantidad de elementos del objeto**</font>

In [ ]:
# mi codigo aqui

### <font color="RoyalBlue">**Dando formato al dataframe**</font>

In [ ]:
# mi codigo aqui

<p align="justify">
El elemento tiene aspecto de dataframe, por lo cual podemos inferir que la lista, es una lista de dataframes, y cada uno de sus elementos es un dataframe correspondiente a cada uno de los a√±os de recaudaci√≥n, desde el a√±o $2000$ hasta el a√±o actual. Por lo tanto, el √∫ltimo elemento de la lista, es el a√±o actual.
</p>

<p align="justify">
<font color="DeepPink">

> **Lo primero que vamos a hacer es eliminar las columnas con datos faltantes...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Ahora vamos a renombrar las columnas del dataframe, con los datos de la primera fila, que son los impuestos provinciales...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Vemos que las columnas tienen por nombre ```nan```, vamos a eliminar ese nombre y no dejar ning√∫n nombre a las columnas...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [7]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Ahora al indice del dataframe, en donde estan los meses del ejercicio fiscal, le vamos a poner un nombre, para luego, ingresarlo como columna al dataframe...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Ahora vamos a eliminar las filas que tengan todos sus datos faltantes, para ello usamos el m√©todo de Pandas ```dropna()``` con los par√°metros ```axis=0``` para indicar que queremos eliminar las filas, y el parametro ```how=all```, es decir eliminar las filas en donde todos sus datos son faltantes...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Lo que vamos a hacer ahora, es ordenar el indice, usando el m√©todo ```reset_index()```, eliminando el √≠ndice, sin ingresarlo al dataframe, y con posterioridad a ello, vamos a eliminar la primera fila y la √∫ltima fila del dataframe, pero con el uso de filtros...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Ahora procedemos a borrar la columna ```Datos```...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Ahora vamos a convertir todos los datos del dataframe, en num√©ricos decimales...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Ahora al indice num√©rico del dataframe, coincidente con los meses del ejercicio fiscal, le vamos a poner un nombre, para luego, ingresarlo como columna al dataframe...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Ahora ingresamos el indice del dataframe, como columna...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Y vamos adicionar una columna denominada ```A√±o``` que tenga como valor, el a√±o fiscal correspondiente a este dataframe, que en este caso es el a√±o $2022$...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify">
<font color="DeepPink">

> **Y ordenamos las columnas...**
</font>
</p>

In [ ]:
# mi codigo aqui

In [ ]:
# mi codigo aqui

<p align="justify"><b>
<font color="DeepPink">
‚úÖ Ya tenemos nuestro dataframe correspondiente al ejercicio fiscal $2022$ con los datos num√©ricos.
</font>
</p>

# üòÄ