<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/Mini_Actividad_002_resuelta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true">
</p>

# <font color="RoyalBlue">**Mini Actividad 002**</font>

<p align="center">
<img src="https://www.python.org/static/community_logos/python-powered-h-70x91.png">
</p>

## üîπ **<font color="RoyalBlue">Obtenci√≥n de datos HTML</font>**

https://atm.mendoza.gov.ar/

![](https://atm.mendoza.gov.ar/wp-content/uploads/2023/01/Frente-Atm.png)

<p align="justify">
En la p√°gina de la Administraci√≥n Tributaria Mendoza se encuentran tablas con los niveles de recaudaci√≥n. Nuestra misi√≥n, si desean aceptarla, es obtener esas tablas de la p√°gina web de la Administraci√≥n Tributaria Mendoza, y crear un DataFrame...
</p>

https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp

---
<p align="justify"><b>
<font color="DeepPink">
‚õ≥ Vamos por el desaf√≠o, que es automatizar los scrips para que de la lista inicial, se puedan crear todos los dataframes resultantes en virtud de los ejercicios fiscales que tiene la lista, es decir, desde el a√±o $2000$ hasta el a√±o actual.
</font>
</p>

---

## üîπ <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

### **<font color="RoyalBlue">Para an√°lisis de datos</font>**

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.precision = 2
pd.options.display.float_format = "{:.2f}".format

### **<font color="RoyalBlue">Biblioteca gr√°fica</font>**

In [3]:
import plotly.express as px

## üîπ <font color="RoyalBlue">**Creaci√≥n del DataFrame**</font>

### <font color="RoyalBlue">**Lectura de los datos**</font>

In [4]:
data = "https://www.atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_por_impuesto_anual.jsp"

In [10]:
lista = pd.read_html(data, flavor="html5lib", index_col=0, header=1, encoding='windows-1252')

/usr/local/lib/python3.9/dist-packages/bs4/__init__.py:226: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

### <font color="RoyalBlue">**Automatizando la creaci√≥n del DataFrame**</font>

In [11]:
dataframe = []
for i in list(range(0,len(lista))):
  df = lista[i].dropna(axis=1, how="all")
  df.columns = df.iloc[0,]
  df.columns.name = None
  df.index.name = "Datos"
  df.reset_index(inplace=True)
  df = df.dropna(axis=0, how="all")                               
  df.reset_index(drop=True,inplace=True)
  df = df.iloc[1:13,]
  df.drop(columns="Datos",inplace=True)
  df = df.astype("float")
  df.index.name = "Mes"
  df.reset_index(inplace=True)
  df["A√±o"] = int(2000 + i)
  dataframe.append(df)

### <font color="RoyalBlue">**Creando el DataFrame**</font>

<p align="justify">
<font color="DeepPink">

> **Ahora vamos a concatenar todos los dataframes..., y ordenar las columnas...**
</font>
</p>

In [13]:
impuestos = pd.concat(dataframe)

In [15]:
impuestos.reset_index(drop=True,inplace=True)

In [16]:
impuestos = impuestos[["Mes","A√±o","Ingresos Varios","Ingresos Brutos","Inmobiliario","Automotor","Sellos"]]

<p align="justify">
<font color="DeepPink">

> **Visualizando el dataframe, todo el dataframe, las primeras filas y las ultimas filas...**
</font>
</p>

In [17]:
impuestos

,Mes,A√±o,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,1,2000,4925476.00,18843926.00,1781596.00,1991123.00,4960397.00
1,2,2000,2363495.00,16258743.00,11819577.00,2922430.00,3497740.00
2,3,2000,3238795.00,17468327.00,3654542.00,10795541.00,3726054.00
3,4,2000,2420553.00,17463084.00,4631617.00,2993672.00,4336669.00
4,5,2000,2910477.00,15978692.00,2282175.00,6414061.00,3439462.00
...,...,...,...,...,...,...,...
283,8,2023,NaN,NaN,NaN,NaN,NaN
284,9,2023,NaN,NaN,NaN,NaN,NaN
285,10,2023,NaN,NaN,NaN,NaN,NaN
286,11,2023,NaN,NaN,NaN,NaN,NaN
287,12,2023,NaN,NaN,NaN,NaN,NaN

In [18]:
impuestos.head(12)

,Mes,A√±o,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
0,1,2000,4925476.00,18843926.00,1781596.00,1991123.00,4960397.00
1,2,2000,2363495.00,16258743.00,11819577.00,2922430.00,3497740.00
2,3,2000,3238795.00,17468327.00,3654542.00,10795541.00,3726054.00
3,4,2000,2420553.00,17463084.00,4631617.00,2993672.00,4336669.00
4,5,2000,2910477.00,15978692.00,2282175.00,6414061.00,3439462.00
5,6,2000,2992103.00,14676011.00,6058065.00,2621789.00,3670132.00
6,7,2000,3986098.00,15299790.00,2576257.00,6927012.00,4013424.00
7,8,2000,2911897.00,15802483.00,4604708.00,2820010.00,3911091.00
8,9,2000,2729553.00,15756538.00,2089292.00,6327725.00,4597739.00
9,10,2000,2239812.00,15731005.00,5094736.00,2838513.00,4199000.00
10,11,2000,2300925.00,15660556.00,1801204.00,3241242.00,3834782.00
11,12,2000,3994951.00,16032799.00,1859617.00,2331999.00,3620270.00

In [19]:
impuestos.tail(12)

,Mes,A√±o,Ingresos Varios,Ingresos Brutos,Inmobiliario,Automotor,Sellos
276,1,2023,263252907.00,14525560710.00,186486015.00,505997590.00,1738678400.00
277,2,2023,294564657.00,14960067498.00,2559393651.00,1452375201.00,1300150395.00
278,3,2023,NaN,NaN,NaN,NaN,NaN
279,4,2023,NaN,NaN,NaN,NaN,NaN
280,5,2023,NaN,NaN,NaN,NaN,NaN
281,6,2023,NaN,NaN,NaN,NaN,NaN
282,7,2023,NaN,NaN,NaN,NaN,NaN
283,8,2023,NaN,NaN,NaN,NaN,NaN
284,9,2023,NaN,NaN,NaN,NaN,NaN
285,10,2023,NaN,NaN,NaN,NaN,NaN
286,11,2023,NaN,NaN,NaN,NaN,NaN
287,12,2023,NaN,NaN,NaN,NaN,NaN

<p align="justify"><b>
<font color="DeepPink">
‚úÖ Ya tenemos nuestro dataframe correspondiente a todos los ejercicios fiscales con los datos num√©ricos.
</font>
</p>

## üîπ <font color="RoyalBlue">**Primeros gr√°ficos**</font>

<p align="justify">
<font color="DeepPink">

> **En virtud de los datos, generar cinco gr√°ficos relevantes...**
</font>
</p>

# üòÄ