<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/pandas_000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true)

<p>
<font color="RoyalBlue">

**En este cuaderno comenzaremos a desarrollar los temás más usuales y utilizados del módulo Pandas, pero previo a ello, un breve contenido teórico de lo que es Análisis de Datos...**

</p>
</font>

## **<font color="RoyalBlue">Breve contenido teórico...</font>**

### **<font color="RoyalBlue">Fundamentos del análisis de datos...</font>**

<p>
<font color="RoyalBlue">

**El análisis de datos es un proceso iterativo que implica:**
</font>
</p>

<p>
<font color="RoyalBlue">

+ **la recopilación de los datos,**
+ **la preparación**
+ **el análisis exploratorio de datos (EDA) y**
+ **la obtención de conclusiones**

</font>
</p>

#### **<font color="RoyalBlue">Recopilación de los datos...</font>**

<font color="RoyalBlue">

**La recopilación de datos es el primer paso natural para cualquier análisis de datos: no podemos analizar datos que no tenemos. En realidad, nuestro análisis puede comenzar incluso antes de que tengamos los datos. Cuando decidimos qué queremos investigar o analizar, tenemos que pensar en qué tipo de datos podemos recopilar que serán útiles para nuestro análisis.**
</font>

#### **<font color="RoyalBlue">Preparación de los datos... Data Wrangling...</font>**

<font color="RoyalBlue">

**La preparación de los datos es el proceso de preparar los datos y ponerlos en un formato que se pueda utilizar para el análisis. La desafortunada realidad de los datos es que a menudo están sucios, lo que significa que requieren limpieza (preparación) antes de que puedan usarse.**
</font>

<font color="RoyalBlue">

**La mayoría de estos problemas de calidad de los datos se pueden remediar, pero algunos no, como por ejemplo cuando los datos se recopilan diariamente y los necesitamos en una resolución por hora. Es nuestra responsabilidad examinar cuidadosamente los datos y manejar cualquier problema para que nuestro análisis no se distorsione.**
</font>

<font color="RoyalBlue">

**Una vez que hemos realizado una limpieza inicial de los datos, estamos listos para el análisis exploratorio de los datos**
</font>

#### <font color="RoyalBlue">**Análisis exploratorio de los datos...**</font>

<font color="RoyalBlue">


**Durante el análisis exploratorio de los datos, utilizamos visualizaciones y estadísticas resumidas para obtener una mejor comprensión de los mismos. Dado que el cerebro humano sobresale en la selección de patrones visuales, la visualización de datos es esencial para cualquier análisis. De hecho, algunas características de los datos solo se pueden observar en una gráfica. Dependiendo de nuestros datos, podemos crear gráficos para ver cómo ha evolucionado una variable de interés a lo largo del tiempo, encontrar valores atípicos, observar distribuciones de variables continuas y discretas, y mucho más...**
</font>

#### <font color="RoyalBlue">**Obtención de conclusiones...**</font>

<font color="RoyalBlue">

**Después de haber recopilado los datos para nuestro análisis, haberlos limpiado y realizado un análisis exploratorio de los datos completo, es hora de sacar conclusiones. Aquí es donde resumimos los hallazgos en el análisis exploratorio de los datos y decidimos los próximos pasos:**
</font>

<p>
<font color="RoyalBlue">

+ *¿Notamos algún patrón o relación al visualizar los datos?*
+ *¿Parece que podemos hacer predicciones precisas a partir de nuestros datos?* 
+ *¿Tiene sentido pasar al modelado de los datos?*
+ *¿Deberíamos manejar los datos faltantes? ¿Cómo?*
+ *¿Cómo se distribuyen los datos?*
+ *¿Los datos nos ayudan a responder a las preguntas que tenemos o nos dan una idea del problema que estamos investigando?*
+ *¿Necesitamos recopilar datos nuevos o adicionales?*

</font>
</p>

### <font color="RoyalBlue">**Fundamentos estadísticos...**</font>

<font color="RoyalBlue">

**Cuando queremos hacer observaciones sobre los datos que estamos analizando, a menudo, si no siempre, se recurre a las estadísticas de alguna manera. Los datos que tenemos se conocen como la muestra, que se observó a partir de (y es un subconjunto de) la población.**
</font>

<font color="RoyalBlue">

**Dos grandes categorías de estadísticas son:**
</font>

<p>
<font color="RoyalBlue">

+ Las estadísticas descriptivas.
+ Las estadísticas inferenciales. 

</font>
</p>

<font color="RoyalBlue">

**Con la estadística descriptiva, como su nombre lo indica, estamos buscando describir la muestra. La estadística inferencial implica el uso de las estadísticas de la muestra para inferir, o deducir, algo sobre la población, como la distribución subyacente...**
</font>

<font color="RoyalBlue">

**Por lo tanto, las estadísticas de las muestras se utilizan como estimadores de los parámetros de la población, lo que significa que tenemos que cuantificar su sesgo y varianza. Hay una multitud de métodos para esto; algunos harán suposiciones sobre la forma de la distribución (paramétrica) y otros no (no paramétrica)**
</font>

## <font color="RoyalBlue">**Ahora si, arrancando con Pandas...**</font>

https://pandas.pydata.org/docs/user_guide/index.html

### <font color="RoyalBlue">**Carga de módulos necesarios**</font>

In [1]:
import pandas as pd
import numpy as np

### <font color="RoyalBlue">
**Estructuras de datos**</font>

**Para comprender las estructuras de datos de Pandas, primero debemos echar un vistazo a NumPy...**

***Numpy incorpora una nueva clase de objetos llamados arrays que permite representar colecciones de datos de un mismo tipo en varias dimensiones, y funciones muy eficientes para su manipulación, así tendremos arrays de una dimensión, de dos dimensiones y de tres dimensiones***

#### <font color="RoyalBlue">**Array de una dimensión**</font>

***Para una lista de valores se crea un array de una dimensión, también conocido como vector en Numpy..., en Pandas esto es una Serie, estructura de datos de una dimensión...***

![Captura de Pantalla 2021-07-30 a la(s) 16.54.13.png]()

#### <font color="RoyalBlue">
**Array de dos dimensiones**</font>

***Para una lista de listas de valores se crea un array de dos dimensiones, también conocido como matriz en Numpy..., en Pandas esto es un DataFrame, estructura de datos de dos dimensiones...***

![Captura de Pantalla 2021-07-30 a la(s) 16.54.22.png]()

#### <font color="RoyalBlue">**Array de tres dimensiones**</font>

***Para una lista de listas de listas de valores se crea un array de tres dimensiones, también conocido como cubo en Numpy..., en Pandas esto se conoce como índice múltiple, estructura de datos de tres dimensiones, o más...***

![Captura de Pantalla 2021-07-30 a la(s) 16.54.30.png]()

### <font color="RoyalBlue">**Obtención de datos**</font>

**En esta oportunidad vamos a generar datos y a partir de un diccionario, se va a crear un dataframe, para poder desarrollar los primeros temas de Pandas. Oportunamente se desarrollaran con profundidad las distintas opciones para obtener datos...**

In [3]:
ventas = [230.1, 44.5, 17.2, 151.5, 180.8, 8.7, 57.5, 120.2, 8.6, 199.8, 66.1, 214.7,
          23.8, 97.5, 204.1, 195.4, 67.8, 281.4, 69.2, 147.3, 218.4, 237.4, 13.2,
          228.3, 62.3, 262.9, 142.9, 240.1, 248.8, 70.6, 292.9, 112.9, 97.2, 265.6,
          95.7, 290.7, 266.9, 74.7, 43.1, 228.0, 202.5, 177.0, 293.6, 206.9, 25.1,
          175.1, 89.7, 239.9, 227.2, 66.9, 199.8, 100.4, 216.4, 182.6, 262.7, 198.9,
          7.3, 136.2, 210.8, 210.7, 53.5, 261.3, 239.3, 102.7, 131.1, 69.0, 31.5,
          139.3, 237.4, 216.8, 199.1, 109.8, 26.8, 129.4, 213.4, 16.9, 27.5, 120.5,
          5.4, 116.0, 76.4, 239.8, 75.3, 68.4, 213.5, 193.2, 76.3, 110.7, 88.3, 109.8,
          134.3, 28.6, 217.7, 250.9, 107.4, 163.3, 197.6, 184.9, 289.7, 135.2, 222.4,
          296.4, 280.2, 187.9, 238.2, 137.9, 25.0, 90.4, 13.1, 255.4, 225.8, 241.7, 175.7,
          209.6, 78.2, 75.1, 139.2, 76.4, 125.7, 19.4, 141.3, 18.8, 224.0, 123.1, 229.5,
          87.2, 7.8, 80.2, 220.3, 59.6, 0.7, 265.2, 8.4, 219.8, 36.9, 48.3, 25.6, 273.7,
          43.0, 184.9, 73.4, 193.7, 220.5, 104.6, 96.2, 140.3, 240.1, 243.2, 38.0, 44.7,
          280.7, 121.0, 197.6, 171.3, 187.8, 4.1, 93.9, 149.8, 11.7, 131.7, 172.5, 85.7,
          188.4, 163.5, 117.2, 234.5, 17.9, 206.8, 215.4, 284.3, 50.0, 164.5, 19.6, 168.4,
          222.4, 276.9, 248.4, 170.2, 276.7, 165.6, 156.6, 218.5, 56.2, 287.6, 253.8, 205.0,
          139.5, 191.1, 286.0, 18.7, 39.5, 75.5, 17.2, 166.8, 149.7, 38.2, 94.2, 177.0,
          283.6, 232.1]

In [4]:
radio = [37.8, 39.3, 45.9, 41.3, 10.8, 48.9, 32.8, 19.6, 2.1, 2.6, 5.8, 24.0, 35.1,
         7.6, 32.9, 47.7, 36.6, 39.6, 20.5, 23.9, 27.7, 5.1, 15.9, 16.9, 12.6, 3.5,
         29.3, 16.7, 27.1, 16.0, 28.3, 17.4, 1.5, 20.0, 1.4, 4.1, 43.8, 49.4, 26.7,
         37.7, 22.3, 33.4, 27.7, 8.4, 25.7, 22.5, 9.9, 41.5, 15.8, 11.7, 3.1, 9.6,
         41.7, 46.2, 28.8, 49.4, 28.1, 19.2, 49.6, 29.5, 2.0, 42.7, 15.5, 29.6, 42.8,
         9.3, 24.6, 14.5, 27.5, 43.9, 30.6, 14.3, 33.0, 5.7, 24.6, 43.7, 1.6, 28.5,
         29.9, 7.7, 26.7, 4.1, 20.3, 44.5, 43.0, 18.4, 27.5, 40.6, 25.5, 47.8, 4.9,
         1.5, 33.5, 36.5, 14.0, 31.6, 3.5, 21.0, 42.3, 41.7, 4.3, 36.3, 10.1, 17.2,
         34.3, 46.4, 11.0, 0.3, 0.4, 26.9, 8.2, 38.0, 15.4, 20.6, 46.8, 35.0, 14.3,
         0.8, 36.9, 16.0, 26.8, 21.7, 2.4, 34.6, 32.3, 11.8, 38.9, 0.0, 49.0, 12.0,
         39.6, 2.9, 27.2, 33.5, 38.6, 47.0, 39.0, 28.9, 25.9, 43.9, 17.0, 35.4, 33.2,
         5.7, 14.8, 1.9, 7.3, 49.0, 40.3, 25.8, 13.9, 8.4, 23.3, 39.7, 21.1, 11.6, 43.5,
         1.3, 36.9, 18.4, 18.1, 35.8, 18.1, 36.8, 14.7, 3.4, 37.6, 5.2, 23.6, 10.6, 11.6,
         20.9, 20.1, 7.1, 3.4, 48.9, 30.2, 7.8, 2.3, 10.0, 2.6, 5.4, 5.7, 43.0, 21.3, 45.1,
         2.1, 28.7, 13.9, 12.1, 41.1, 10.8, 4.1, 42.0, 35.6, 3.7, 4.9, 9.3, 42.0, 8.6]

In [5]:
tv = [69.2, 45.1, 69.3, 58.5, 58.4, 75.0, 23.5, 11.6, 1.0, 21.2, 24.2, 4.0,
      65.9, 7.2, 46.0, 52.9, 114.0, 55.8, 18.3, 19.1, 53.4, 23.5, 49.6, 26.2,
      18.3, 19.5, 12.6, 22.9, 22.9, 40.8, 43.2, 38.6, 30.0, 0.3, 7.4, 8.5, 5.0,
      45.7, 35.1, 32.0, 31.6, 38.7, 1.8, 26.4, 43.3, 31.5, 35.7, 18.5, 49.9,
      36.8, 34.6, 3.6, 39.6, 58.7, 15.9, 60.0, 41.4, 16.6, 37.7, 9.3, 21.4, 54.7,
      27.3, 8.4, 28.9, 0.9, 2.2, 10.2, 11.0, 27.2, 38.7, 31.7, 19.3, 31.3, 13.1,
      89.4, 20.7, 14.2, 9.4, 23.1, 22.3, 36.9, 32.5, 35.6, 33.8, 65.7, 16.0, 63.2,
      73.4, 51.4, 9.3, 33.0, 59.0, 72.3, 10.9, 52.9, 5.9, 22.0, 51.2, 45.9, 49.8,
      100.9, 21.4, 17.9, 5.3, 59.0, 29.7, 23.2, 25.6, 5.5, 56.5, 23.2, 2.4, 10.7,
      34.5, 52.7, 25.6, 14.8, 79.2, 22.3, 46.2, 50.4, 15.6, 12.4, 74.2, 25.9, 50.6,
      9.2, 3.2, 43.1, 8.7, 43.0, 2.1, 45.1, 65.6, 8.5, 9.3, 59.7, 20.5, 1.7, 12.9,
      75.6, 37.9, 34.4, 38.9, 9.0, 8.7, 44.3, 11.9, 20.6, 37.0, 48.7, 14.2, 37.7,
      9.5, 5.7, 50.5, 24.3, 45.2, 34.6, 30.7, 49.3, 25.6, 7.4, 5.4, 84.8, 21.6, 19.4,
      57.6, 6.4, 18.4, 47.4, 17.0, 12.8, 13.1, 41.8, 20.3, 35.2, 23.7, 17.6, 8.3,
      27.4, 29.7, 71.8, 30.0, 19.6, 26.6, 18.2, 3.7, 23.4, 5.8, 6.0, 31.6, 3.6, 6.0,
      13.8, 8.1, 6.4, 66.2, 8.7]

In [6]:
periodico = [22.1, 10.4, 9.3, 18.5, 12.9, 7.2, 11.8, 13.2, 4.8, 10.6, 8.6, 17.4, 9.2, 9.7,
             19.0, 22.4, 12.5, 24.4, 11.3, 14.6, 18.0, 12.5, 5.6, 15.5, 9.7, 12.0, 15.0, 15.9,
             18.9, 10.5, 21.4, 11.9, 9.6, 17.4, 9.5, 12.8, 25.4, 14.7, 10.1, 21.5, 16.6, 17.1,
             20.7, 12.9, 8.5, 14.9, 10.6, 23.2, 14.8, 9.7, 11.4, 10.7, 22.6, 21.2, 20.2, 23.7,
             5.5, 13.2, 23.8, 18.4, 8.1, 24.2, 15.7, 14.0, 18.0, 9.3, 9.5, 13.4, 18.9, 22.3,
             18.3, 12.4, 8.8, 11.0, 17.0, 8.7, 6.9, 14.2, 5.3, 11.0, 11.8, 12.3, 11.3, 13.6,
             21.7, 15.2, 12.0, 16.0, 12.9, 16.7, 11.2, 7.3, 19.4, 22.2, 11.5, 16.9, 11.7, 15.5,
             25.4, 17.2, 11.7, 23.8, 14.8, 14.7, 20.7, 19.2, 7.2, 8.7, 5.3, 19.8, 13.4, 21.8,
             14.1, 15.9, 14.6, 12.6, 12.2, 9.4, 15.9, 6.6, 15.5, 7.0, 11.6, 15.2, 19.7, 10.6,
             6.6, 8.8, 24.7, 9.7, 1.6, 12.7, 5.7, 19.6, 10.8, 11.6, 9.5, 20.8, 9.6, 20.7, 10.9,
             19.2, 20.1, 10.4, 11.4, 10.3, 13.2, 25.4, 10.9, 10.1, 16.1, 11.6, 16.6, 19.0, 15.6,
             3.2, 15.3, 10.1, 7.3, 12.9, 14.4, 13.3, 14.9, 18.0, 11.9, 11.9, 8.0, 12.2, 17.1,
             15.0, 8.4, 14.5, 7.6, 11.7, 11.5, 27.0, 20.2, 11.7, 11.8, 12.6, 10.5, 12.2, 8.7,
             26.2, 17.6, 22.6, 10.3, 17.3, 15.9, 6.7, 10.8, 9.9, 5.9, 19.6, 17.3, 7.6, 9.7, 12.8,
             25.5, 13.4]

In [7]:
tabla = {"ventas":ventas,
         "radio":radio,
         "tv":tv,
         "periodico":periodico}

In [8]:
df = pd.DataFrame(tabla)

### <font color="RoyalBlue">**Series**</font>

Una serie es una matriz etiquetada unidimensional capaz de contener cualquier tipo de datos (enteros, decimales, cadenas de caracteres, etc.) pero la serie que se defina tiene el mismo tipo de dato en su contenido.

In [9]:
s = df.periodico # tomamos una de las cuatro series del dataframe

#### <font color="RoyalBlue">**Atributos de las Series (Propiedades)...**</font>

##### <font color="RoyalBlue">**Tipo de datos de la serie**</font>

In [10]:
s

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: periodico, Length: 200, dtype: float64

In [11]:
s.dtype

dtype('float64')

##### <font color="RoyalBlue">**Tipo de objeto**</font>

In [12]:
type(s)

pandas.core.series.Series

##### <font color="RoyalBlue">**Index de la serie**</font>

In [13]:
s.index

RangeIndex(start=0, stop=200, step=1)

##### <font color="RoyalBlue">**Cantidad de elementos de la serie**</font>

In [14]:
s.shape

(200,)

In [15]:
list(s.shape)

[200]

##### <font color="RoyalBlue">**Tamaño de la serie**</font>

In [16]:
s.size

200

<font color="RoyalBlue">**¿Tiene la serie valores nulos?**</font>

In [17]:
s.hasnans

False

##### <font color="RoyalBlue">**¿Tiene la serie valores únicos?**</font>

In [18]:
s.is_unique

False

##### <font color="RoyalBlue">**Nombre de la serie**</font>

In [19]:
s.name

'periodico'

In [20]:
print(s.name)

periodico

In [21]:
print(f"El nombre de la serie es {s.name}")

El nombre de la serie es periodico

In [23]:
print(f"La serie {s.name} tiene {s.shape[0]} datos")

La serie periodico tiene 200 datos

##### <font color="RoyalBlue">**Dimensión de la serie**</font>

In [22]:
s.ndim

1

#### <font color="RoyalBlue">**Métodos**</font>

##### <font color="RoyalBlue">**Contando los elementos de la serie**</font>

In [25]:
s.count()

200

##### <font color="RoyalBlue">**Valor mínimo y valor máximo de la serie**</font>

In [26]:
s.min()

1.6

In [27]:
s.max()

27.0

##### <font color="RoyalBlue">**Suma y suma acumulada de la serie**</font>

In [28]:
s.sum()

2804.5

In [29]:
s.cumsum()

0        22.1
1        32.5
2        41.8
3        60.3
4        73.2
        ...
195    2743.1
196    2752.8
197    2765.6
198    2791.1
199    2804.5
Name: periodico, Length: 200, dtype: float64

##### <font color="RoyalBlue">**Media, mediana y desviación estándar**</font>

In [30]:
s.mean()

14.0225

In [31]:
s.median()

12.9

In [32]:
s.std()

5.217456565710478

##### <font color="RoyalBlue">**Resúmen de estadística descriptiva**</font>

In [34]:
s.describe()

count    200.000000
mean      14.022500
std        5.217457
min        1.600000
25%       10.375000
50%       12.900000
75%       17.400000
max       27.000000
Name: periodico, dtype: float64

In [35]:
s.describe().round(2)

count    200.00
mean      14.02
std        5.22
min        1.60
25%       10.38
50%       12.90
75%       17.40
max       27.00
Name: periodico, dtype: float64

In [36]:
round(s.describe(),2)

count    200.00
mean      14.02
std        5.22
min        1.60
25%       10.38
50%       12.90
75%       17.40
max       27.00
Name: periodico, dtype: float64

##### <font color="RoyalBlue">**Ordenando valores de la serie**</font>

In [37]:
s.sort_values()

130     1.6
155     3.2
8       4.8
108     5.3
78      5.3
       ...
98     25.4
147    25.4
198    25.5
183    26.2
175    27.0
Name: periodico, Length: 200, dtype: float64

##### <font color="RoyalBlue">**Ordenando valores del index de la serie**</font>

In [38]:
s.sort_index()

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: periodico, Length: 200, dtype: float64

### <font color="RoyalBlue">**DataFrames**</font>

#### <font color="RoyalBlue">**Atributos del DataFrame (Propiedades)...**</font>

##### <font color="RoyalBlue">**Tipo de objeto**</font>

In [39]:
type(df)

pandas.core.frame.DataFrame

##### <font color="RoyalBlue">**Tipo de datos del DataFrame**</font>

In [40]:
df

     ventas  radio    tv  periodico
0     230.1   37.8  69.2       22.1
1      44.5   39.3  45.1       10.4
2      17.2   45.9  69.3        9.3
3     151.5   41.3  58.5       18.5
4     180.8   10.8  58.4       12.9
..      ...    ...   ...        ...
195    38.2    3.7  13.8        7.6
196    94.2    4.9   8.1        9.7
197   177.0    9.3   6.4       12.8
198   283.6   42.0  66.2       25.5
199   232.1    8.6   8.7       13.4

[200 rows x 4 columns]

In [41]:
df.dtypes

ventas       float64
radio        float64
tv           float64
periodico    float64
dtype: object

##### <font color="RoyalBlue">**Indice y columnas del DataFrame**</font>

In [42]:
df.index

RangeIndex(start=0, stop=200, step=1)

In [43]:
df.columns

Index(['ventas', 'radio', 'tv', 'periodico'], dtype='object')

In [44]:
list(df.columns)

['ventas', 'radio', 'tv', 'periodico']

##### <font color="RoyalBlue">**Cantidad de elementos del DataFrame**</font>

In [45]:
df.shape

(200, 4)

In [46]:
list(df.shape)

[200, 4]

In [47]:
elementos = list(df.shape)

In [48]:
print(f"El dataframe tiene {elementos[0]} filas y {elementos[1]} columnas")

El dataframe tiene 200 filas y 4 columnas

##### <font color="RoyalBlue">**Tamaño del DataFrame**</font>

In [49]:
df.size

800

##### <font color="RoyalBlue">**Dimensión del DataFrame**</font>

In [50]:
df.ndim

2

#### <font color="RoyalBlue">**Métodos**</font>

##### <font color="RoyalBlue">**Visualización del DataFrame.**</font>

In [51]:
df

     ventas  radio    tv  periodico
0     230.1   37.8  69.2       22.1
1      44.5   39.3  45.1       10.4
2      17.2   45.9  69.3        9.3
3     151.5   41.3  58.5       18.5
4     180.8   10.8  58.4       12.9
..      ...    ...   ...        ...
195    38.2    3.7  13.8        7.6
196    94.2    4.9   8.1        9.7
197   177.0    9.3   6.4       12.8
198   283.6   42.0  66.2       25.5
199   232.1    8.6   8.7       13.4

[200 rows x 4 columns]

<font color="RoyalBlue">

**Para visualizar las primeras cinco filas...** **por defecto siempre son las primeros cinco filas, pero puede seleccionarse la cantidad de filas que se quiera...**</font>

In [52]:
df.head()

   ventas  radio    tv  periodico
0   230.1   37.8  69.2       22.1
1    44.5   39.3  45.1       10.4
2    17.2   45.9  69.3        9.3
3   151.5   41.3  58.5       18.5
4   180.8   10.8  58.4       12.9

In [53]:
df.head(9)

   ventas  radio    tv  periodico
0   230.1   37.8  69.2       22.1
1    44.5   39.3  45.1       10.4
2    17.2   45.9  69.3        9.3
3   151.5   41.3  58.5       18.5
4   180.8   10.8  58.4       12.9
5     8.7   48.9  75.0        7.2
6    57.5   32.8  23.5       11.8
7   120.2   19.6  11.6       13.2
8     8.6    2.1   1.0        4.8

<font color="RoyalBlue">

**Para visualizar las últimas cinco filas...** **por defecto siempre son las últimas cinco filas, pero puede seleccionarse la cantidad de filas que se quiera...**
</font>

In [54]:
df.tail()

     ventas  radio    tv  periodico
195    38.2    3.7  13.8        7.6
196    94.2    4.9   8.1        9.7
197   177.0    9.3   6.4       12.8
198   283.6   42.0  66.2       25.5
199   232.1    8.6   8.7       13.4

In [55]:
df.tail(8)

     ventas  radio    tv  periodico
192    17.2    4.1  31.6        5.9
193   166.8   42.0   3.6       19.6
194   149.7   35.6   6.0       17.3
195    38.2    3.7  13.8        7.6
196    94.2    4.9   8.1        9.7
197   177.0    9.3   6.4       12.8
198   283.6   42.0  66.2       25.5
199   232.1    8.6   8.7       13.4

##### <font color="RoyalBlue">**Información del DataFrame**</font>

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ventas     200 non-null    float64
 1   radio      200 non-null    float64
 2   tv         200 non-null    float64
 3   periodico  200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

##### <font color="RoyalBlue">**Valor mínimo y valor máximo del DataFrame**</font>

In [57]:
df.min()

ventas       0.7
radio        0.0
tv           0.3
periodico    1.6
dtype: float64

In [58]:
df.max()

ventas       296.4
radio         49.6
tv           114.0
periodico     27.0
dtype: float64

##### <font color="RoyalBlue">**Resúmen de estadística descriptiva**</font>

<font color="RoyalBlue">

**En principio, y por defecto, este resumen descriptivo se hace sobre las columnas que tienen tipo de dato numérico, pero tambien se puede generar un resúmen con otro tipo de datos...**
</font>

In [59]:
df.describe()

           ventas       radio          tv   periodico
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

<font color="RoyalBlue">

**Transpocision del resumen...**
</font>

In [60]:
df.describe().T

           count      mean        std  min     25%     50%      75%    max
ventas     200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
tv         200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
periodico  200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

---
<p>
<font color="RoyalBlue">

**Hemos llegado al fin de este cuaderno, felicitaciones nos estamos iniciando en Pandas, viendo sus estructuras de datos, algunos atributos y funciones que usaremos, ahora a seguir en el proximo cuaderno... pero antes....** 
</font>
</p>

---

# 🤔

# **Dataframes... entrando en calor...**

***Entonces... un dataframe es una estructura de 
datos de dos dimnesiones como una tabla de datos, tiene columnas y filas.***

**Podemos ver que hay algunas partes clave de la salida:** 

- *En el lado izquierdo en negrita está el índice. Estos pueden considerarse como números de fila y como todo indice identifica a su fila de forma unica (no se repite). En este caso el indice es una cadena de caracteres, tambien pueden ser fechas, pero generalmente es un numero incremental.*

- *En la parte superior están los nombres de las columnas. Cuando queramos referirnos a una columna en particular en nuestro dataframe, usaremos estos nombres.*

- *A continuación, los datos reales se organizan en el centro de la tabla. En su mayoría, estos son datos que nos importan.*

In [61]:
estadistica = df.describe().round(2).T

In [62]:
type(estadistica)

pandas.core.frame.DataFrame

In [63]:
estadistica

           count    mean    std  min    25%     50%     75%    max
ventas     200.0  147.04  85.85  0.7  74.38  149.75  218.82  296.4
radio      200.0   23.26  14.85  0.0   9.98   22.90   36.52   49.6
tv         200.0   30.55  21.78  0.3  12.75   25.75   45.10  114.0
periodico  200.0   14.02   5.22  1.6  10.38   12.90   17.40   27.0

In [64]:
estadistica.columns

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [65]:
estadistica.index

Index(['ventas', 'radio', 'tv', 'periodico'], dtype='object')

In [66]:
estadistica.shape

(4, 8)

## **Ej.01 Mayusculas en indice y columnas...**

## **Ej.02 Resetear el indice...**

***Resetear el indice de tal forma que los valores que tiene actualmente, se ingresen como una columna...***

## **Ej.03 Cambiar el nombre de la primera columna...**

## **Ej.04 Con ```print()```mostrar información del dataframe...**

***La informacion a mostrar tiene que ser los tipos de datos por columnas y la dimensión del dataframe (cantidad de filas, columnas y datos)***

## **Ej.05 Volver a indexar el dataframe con los valores de la primer columna...**

**Para este ejercicio usar ```set_index()```**

## **Ej.06 Sacar el nombre del indice...**

## **Ej.07 Hacer un transposicion del dataframe...**

## **Ej.08 Guardar el dataframe en un archivo CSV...**

---
<p>
<font color="RoyalBlue">

💙 **Ahora si, a seguir en el proximo cuaderno...** 
</font>
</p>

---

# 😀