<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/pandas_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true)

# **<font color="RoyalBlue">Instalando la biblioteca requerida</font>**

<p align=justify><b><font color="RoyalBlue">Este módulo se utiliza solo para el ejemplo y ver como se pueden obtener datos en forma remota...

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.10-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.1/59.1 KB 990.1 kB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 24.4 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 4.5 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 4.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 5.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 2.7 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.1 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.10

# <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

## **<font color="RoyalBlue">Para análisis de datos</font>**

In [ ]:
import pandas as pd
import numpy as np

## **<font color="RoyalBlue">Para acceso remoto de datos</font>**

In [ ]:
import yfinance as yf

# **<font color="RoyalBlue">Obtención de datos**

**<font color="RoyalBlue">Se procede a obtener datos financieros en forma remota, del sitio Yahoo! finanzas, tomando la cotización del bitcoin.**

**<font color="RoyalBlue">El reset_index se utiliza para generar la primera columna Date, con la fecha de cotizacion del bitcoin... Luego en el ejemplo, se crean tres objetos que se les asigna a cada uno, la cotización mensual, solo para mostrar como concatenar cada objeto y eliminar posibles duplicados de registros...**

In [18]:
btc_enero = yf.download("BTC-USD", start="2021-01-01", end="2021-02-01")
btc_enero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_enero.reset_index(inplace=True)
btc_enero.head()

[*********************100%***********************]  1 of 1 completed

        Date          Open          High           Low         Close
0 2021-01-01  28994.009766  29600.626953  28803.585938  29374.152344
1 2021-01-02  29376.455078  33155.117188  29091.181641  32127.267578
2 2021-01-03  32129.408203  34608.558594  32052.316406  32782.023438
3 2021-01-04  32810.949219  33440.218750  28722.755859  31971.914062
4 2021-01-05  31977.041016  34437.589844  30221.187500  33992.429688

In [19]:
btc_enero.shape

(31, 5)

In [20]:
btc_febrero = yf.download("BTC-USD", start="2021-02-01", end="2021-03-01")
btc_febrero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_febrero.reset_index(inplace=True)
btc_febrero.head()

[*********************100%***********************]  1 of 1 completed

        Date          Open          High           Low         Close
0 2021-02-01  33114.578125  34638.214844  32384.228516  33537.175781
1 2021-02-02  33533.199219  35896.882812  33489.218750  35510.289062
2 2021-02-03  35510.820312  37480.187500  35443.984375  37472.089844
3 2021-02-04  37475.105469  38592.175781  36317.500000  36926.066406
4 2021-02-05  36931.546875  38225.906250  36658.761719  38144.308594

In [21]:
btc_febrero.shape

(28, 5)

In [22]:
btc_marzo = yf.download("BTC-USD", start="2021-03-01", end="2021-04-01")
btc_marzo.drop(columns=["Volume","Adj Close"], inplace=True)
btc_marzo.reset_index(inplace=True)
btc_marzo.head()

[*********************100%***********************]  1 of 1 completed

        Date          Open          High           Low         Close
0 2021-03-01  45159.503906  49784.015625  45115.093750  49631.242188
1 2021-03-02  49612.105469  50127.511719  47228.843750  48378.988281
2 2021-03-03  48415.816406  52535.136719  48274.320312  50538.242188
3 2021-03-04  50522.304688  51735.089844  47656.929688  48561.167969
4 2021-03-05  48527.031250  49396.429688  46542.515625  48927.304688

In [23]:
btc_marzo.shape

(31, 5)

## **<font color="RoyalBlue">Concatenación**

In [24]:
btc = [btc_enero, btc_febrero, btc_marzo]

In [25]:
bitcoin = pd.concat(btc)

In [26]:
bitcoin

         Date          Open          High           Low         Close
0  2021-01-01  28994.009766  29600.626953  28803.585938  29374.152344
1  2021-01-02  29376.455078  33155.117188  29091.181641  32127.267578
2  2021-01-03  32129.408203  34608.558594  32052.316406  32782.023438
3  2021-01-04  32810.949219  33440.218750  28722.755859  31971.914062
4  2021-01-05  31977.041016  34437.589844  30221.187500  33992.429688
..        ...           ...           ...           ...           ...
26 2021-03-27  55137.566406  56568.214844  54242.910156  55973.511719
27 2021-03-28  55974.941406  56610.312500  55071.113281  55950.746094
28 2021-03-29  55947.898438  58342.097656  55139.339844  57750.199219
29 2021-03-30  57750.132812  59447.222656  57251.550781  58917.691406
30 2021-03-31  58930.277344  59930.027344  57726.417969  58918.832031

[90 rows x 5 columns]

##**<font color="RoyalBlue">Función ```apply()```**

In [29]:
bitcoin

         Date          Open          High           Low         Close
0  2021-01-01  28994.009766  29600.626953  28803.585938  29374.152344
1  2021-01-02  29376.455078  33155.117188  29091.181641  32127.267578
2  2021-01-03  32129.408203  34608.558594  32052.316406  32782.023438
3  2021-01-04  32810.949219  33440.218750  28722.755859  31971.914062
4  2021-01-05  31977.041016  34437.589844  30221.187500  33992.429688
..        ...           ...           ...           ...           ...
26 2021-03-27  55137.566406  56568.214844  54242.910156  55973.511719
27 2021-03-28  55974.941406  56610.312500  55071.113281  55950.746094
28 2021-03-29  55947.898438  58342.097656  55139.339844  57750.199219
29 2021-03-30  57750.132812  59447.222656  57251.550781  58917.691406
30 2021-03-31  58930.277344  59930.027344  57726.417969  58918.832031

[90 rows x 5 columns]

---
<p>
<font color="RoyalBlue">

💙 **Hemos llegado al fin de este cuaderno, felicitaciones estamos avanzando en Pandas, ahora a seguir en el proximo cuaderno...** 
</font>
</p>

---

# 😀

![](https://everisgroup.sharepoint.com/sites/BrandCenter/Shared%20Documents/Logo/FUTURE%20AT%20HEART/BLACK/FUTURE-HEARTH.png)