<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/pandas_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true)

# **<font color="RoyalBlue">Instalando la biblioteca requerida</font>**

<p align=justify><b><font color="RoyalBlue">Este m贸dulo se utiliza solo para el ejemplo y ver como se pueden obtener datos en forma remota...

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.10)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.1)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

# <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

## **<font color="RoyalBlue">Para an谩lisis de datos</font>**

In [2]:
import pandas as pd
import numpy as np

## **<font color="RoyalBlue">Para acceso remoto de datos</font>**

In [3]:
import yfinance as yf

# **<font color="RoyalBlue">Obtenci贸n de datos**

**<font color="RoyalBlue">Se procede a obtener datos financieros en forma remota, del sitio Yahoo! finanzas, tomando la cotizaci贸n del bitcoin.**

**<font color="RoyalBlue">El reset_index se utiliza para generar la primera columna Date, con la fecha de cotizacion del bitcoin... Luego en el ejemplo, se crean tres objetos que se les asigna a cada uno, la cotizaci贸n mensual, solo para mostrar como concatenar cada objeto y eliminar posibles duplicados de registros...**

In [4]:
btc_enero = yf.download("BTC-USD", start="2022-01-01", end="2022-02-01").round(2)
btc_enero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_enero.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close
Date
2022-01-01  46311.75  47827.31  46288.48  47686.81
2022-01-02  47680.93  47881.41  46856.94  47345.22
2022-01-03  47343.54  47510.73  45835.96  46458.12
2022-01-04  46458.85  47406.55  45752.46  45897.57
2022-01-05  45899.36  46929.05  42798.22  43569.00

In [5]:
btc_enero.shape

(31, 4)

In [6]:
btc_febrero = yf.download("BTC-USD", start="2022-02-01", end="2022-03-01").round(2)
btc_febrero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_febrero.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close
Date
2022-02-01  38481.77  39115.13  38113.66  38743.27
2022-02-02  38743.71  38834.62  36832.73  36952.98
2022-02-03  36944.80  37154.60  36375.54  37154.60
2022-02-04  37149.27  41527.79  37093.63  41500.88
2022-02-05  41501.48  41847.16  41038.10  41441.16

In [7]:
btc_febrero.shape

(28, 4)

In [8]:
btc_marzo = yf.download("BTC-USD", start="2022-03-01", end="2022-04-01").round(2)
btc_marzo.drop(columns=["Volume","Adj Close"], inplace=True)
btc_marzo.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close
Date
2022-03-01  43194.50  44793.60  42952.59  44354.64
2022-03-02  44357.62  45077.58  43432.85  43924.12
2022-03-03  43925.20  44021.58  41914.75  42451.79
2022-03-04  42458.14  42479.61  38805.85  39137.61
2022-03-05  39148.45  39566.34  38777.04  39400.59

In [9]:
btc_marzo.shape

(31, 4)

## **<font color="RoyalBlue">Concatenaci贸n**

In [10]:
btc = [btc_enero, btc_febrero, btc_marzo]

In [11]:
bitcoin = pd.concat(btc)

In [12]:
bitcoin

                Open      High       Low     Close
Date
2022-01-01  46311.75  47827.31  46288.48  47686.81
2022-01-02  47680.93  47881.41  46856.94  47345.22
2022-01-03  47343.54  47510.73  45835.96  46458.12
2022-01-04  46458.85  47406.55  45752.46  45897.57
2022-01-05  45899.36  46929.05  42798.22  43569.00
...              ...       ...       ...       ...
2022-03-27  44505.36  46827.55  44437.29  46820.49
2022-03-28  46821.85  48086.84  46690.20  47128.00
2022-03-29  47100.44  48022.29  47100.44  47465.73
2022-03-30  47456.90  47655.15  46746.21  47062.66
2022-03-31  47062.15  47512.03  45390.54  45538.68

[90 rows x 4 columns]

##**<font color="RoyalBlue">Funci贸n ```apply()```**

<p align=justify><b><font color="RoyalBlue"> Pandas proporciona un m茅todo para la clase Dataframe el cual aplica una funci贸n a lo largo un eje del Dataframe, esto es, a lo largo de cada fila o columna. M茅todo que b谩sicamente tiene la siguiente forma. </font></b></p>

```python
df.apply(func, axis=0, args=())
```

**<font color="RoyalBlue">En donde df es un objeto DataFrame y los par谩metros son:**

- **func**: Funci贸n que se aplicar谩 a cada columna o fila. La cual debe aceptar una serie y devuelve una serie.
- **axis**: Eje a lo largo del cual se aplica la funci贸n en el conjunto de datos. Al seleccionarse el valor 0, valor que est谩 por defecto, la funci贸n se aplica a las columnas, mientras que si se selecciona 1 se aplicar谩 a las filas.
- **args**: Argumentos adicionales para la funci贸n.

In [13]:
dolar_blue = 350

In [14]:
bitcoin

                Open      High       Low     Close
Date
2022-01-01  46311.75  47827.31  46288.48  47686.81
2022-01-02  47680.93  47881.41  46856.94  47345.22
2022-01-03  47343.54  47510.73  45835.96  46458.12
2022-01-04  46458.85  47406.55  45752.46  45897.57
2022-01-05  45899.36  46929.05  42798.22  43569.00
...              ...       ...       ...       ...
2022-03-27  44505.36  46827.55  44437.29  46820.49
2022-03-28  46821.85  48086.84  46690.20  47128.00
2022-03-29  47100.44  48022.29  47100.44  47465.73
2022-03-30  47456.90  47655.15  46746.21  47062.66
2022-03-31  47062.15  47512.03  45390.54  45538.68

[90 rows x 4 columns]

>**<font color="RoyalBlue">Convertimos los valores del dataframe a pesos...**

In [15]:
bitcoin.apply(lambda x : x * dolar_blue)

                  Open        High         Low       Close
Date
2022-01-01  16209112.5  16739558.5  16200968.0  16690383.5
2022-01-02  16688325.5  16758493.5  16399929.0  16570827.0
2022-01-03  16570239.0  16628755.5  16042586.0  16260342.0
2022-01-04  16260597.5  16592292.5  16013361.0  16064149.5
2022-01-05  16064776.0  16425167.5  14979377.0  15249150.0
...                ...         ...         ...         ...
2022-03-27  15576876.0  16389642.5  15553051.5  16387171.5
2022-03-28  16387647.5  16830394.0  16341570.0  16494800.0
2022-03-29  16485154.0  16807801.5  16485154.0  16613005.5
2022-03-30  16609915.0  16679302.5  16361173.5  16471931.0
2022-03-31  16471752.5  16629210.5  15886689.0  15938538.0

[90 rows x 4 columns]

>**<font color="RoyalBlue">Queremos saber el maximo valor para cada una de las columnas...**

In [27]:
bitcoin.apply(lambda x : x * dolar_blue).max()

Open     16688325.5
High     16830394.0
Low      16485154.0
Close    16690383.5
dtype: float64

>**<font color="RoyalBlue">Queremos saber el maximo valor para la cotizacion de cierre...**

In [26]:
bitcoin.Close.apply(lambda x : x * dolar_blue).max()

16690383.5

>**<font color="RoyalBlue">Convertimos los valores del dataframe a pesos...**

In [16]:
dolar_blue = 350

In [17]:
def conversion(x):
  return x * dolar_blue

In [18]:
bitcoin.apply(conversion)

                  Open        High         Low       Close
Date
2022-01-01  16209112.5  16739558.5  16200968.0  16690383.5
2022-01-02  16688325.5  16758493.5  16399929.0  16570827.0
2022-01-03  16570239.0  16628755.5  16042586.0  16260342.0
2022-01-04  16260597.5  16592292.5  16013361.0  16064149.5
2022-01-05  16064776.0  16425167.5  14979377.0  15249150.0
...                ...         ...         ...         ...
2022-03-27  15576876.0  16389642.5  15553051.5  16387171.5
2022-03-28  16387647.5  16830394.0  16341570.0  16494800.0
2022-03-29  16485154.0  16807801.5  16485154.0  16613005.5
2022-03-30  16609915.0  16679302.5  16361173.5  16471931.0
2022-03-31  16471752.5  16629210.5  15886689.0  15938538.0

[90 rows x 4 columns]

---
<p>
<font color="RoyalBlue">

 **Hemos llegado al fin de este cuaderno, felicitaciones estamos avanzando en Pandas, ahora a seguir en el proximo cuaderno...** 
</font>
</p>

---

#

![](https://everisgroup.sharepoint.com/sites/BrandCenter/Shared%20Documents/Logo/FUTURE%20AT%20HEART/BLACK/FUTURE-HEARTH.png)