<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/pandas_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![](https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true)

# **<font color="RoyalBlue">Instalando la biblioteca requerida</font>**

<p align=justify><b><font color="RoyalBlue">Este módulo se utiliza solo para el ejemplo y ver como se pueden obtener datos en forma remota...

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.10)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.1)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

# <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

## **<font color="RoyalBlue">Para análisis de datos</font>**

In [2]:
import pandas as pd
import numpy as np

## **<font color="RoyalBlue">Para acceso remoto de datos</font>**

In [3]:
import yfinance as yf

# **<font color="RoyalBlue">Obtención de datos**

**<font color="RoyalBlue">Se procede a obtener datos financieros en forma remota, del sitio Yahoo! finanzas, tomando la cotización del bitcoin.**

**<font color="RoyalBlue">El reset_index se utiliza para generar la primera columna Date, con la fecha de cotizacion del bitcoin... Luego en el ejemplo, se crean tres objetos que se les asigna a cada uno, la cotización mensual, solo para mostrar como concatenar cada objeto y eliminar posibles duplicados de registros...**

In [4]:
btc_enero = yf.download("BTC-USD", start="2021-01-01", end="2021-02-01").round(2)
btc_enero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_enero.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close
Date
2021-01-01  28994.01  29600.63  28803.59  29374.15
2021-01-02  29376.46  33155.12  29091.18  32127.27
2021-01-03  32129.41  34608.56  32052.32  32782.02
2021-01-04  32810.95  33440.22  28722.76  31971.91
2021-01-05  31977.04  34437.59  30221.19  33992.43

In [5]:
btc_enero.shape

(31, 4)

In [6]:
btc_febrero = yf.download("BTC-USD", start="2021-02-01", end="2021-03-01").round(2)
btc_febrero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_febrero.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close
Date
2021-02-01  33114.58  34638.21  32384.23  33537.18
2021-02-02  33533.20  35896.88  33489.22  35510.29
2021-02-03  35510.82  37480.19  35443.98  37472.09
2021-02-04  37475.11  38592.18  36317.50  36926.07
2021-02-05  36931.55  38225.91  36658.76  38144.31

In [7]:
btc_febrero.shape

(28, 4)

In [8]:
btc_marzo = yf.download("BTC-USD", start="2021-03-01", end="2021-04-01").round(2)
btc_marzo.drop(columns=["Volume","Adj Close"], inplace=True)
btc_marzo.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close
Date
2021-03-01  45159.50  49784.02  45115.09  49631.24
2021-03-02  49612.11  50127.51  47228.84  48378.99
2021-03-03  48415.82  52535.14  48274.32  50538.24
2021-03-04  50522.30  51735.09  47656.93  48561.17
2021-03-05  48527.03  49396.43  46542.52  48927.30

In [9]:
btc_marzo.shape

(31, 4)

## **<font color="RoyalBlue">Concatenación**

In [10]:
btc = [btc_enero, btc_febrero, btc_marzo]

In [11]:
bitcoin = pd.concat(btc)

In [12]:
bitcoin

                Open      High       Low     Close
Date
2021-01-01  28994.01  29600.63  28803.59  29374.15
2021-01-02  29376.46  33155.12  29091.18  32127.27
2021-01-03  32129.41  34608.56  32052.32  32782.02
2021-01-04  32810.95  33440.22  28722.76  31971.91
2021-01-05  31977.04  34437.59  30221.19  33992.43
...              ...       ...       ...       ...
2021-03-27  55137.57  56568.21  54242.91  55973.51
2021-03-28  55974.94  56610.31  55071.11  55950.75
2021-03-29  55947.90  58342.10  55139.34  57750.20
2021-03-30  57750.13  59447.22  57251.55  58917.69
2021-03-31  58930.28  59930.03  57726.42  58918.83

[90 rows x 4 columns]

##**<font color="RoyalBlue">Función ```apply()```**

<p align=justify><b><font color="RoyalBlue">🐼 Pandas proporciona un método para la clase Dataframe el cual aplica una función a lo largo un eje del Dataframe, esto es, a lo largo de cada fila o columna. Método que básicamente tiene la siguiente forma. </font></b></p>

```python
df.apply(func, axis=0, args=())
```

**<font color="RoyalBlue">En donde df es un objeto DataFrame y los parámetros son:**

- **func**: Función que se aplicará a cada columna o fila. La cual debe aceptar una serie y devuelve una serie.
- **axis**: Eje a lo largo del cual se aplica la función en el conjunto de datos. Al seleccionarse el valor 0, valor que está por defecto, la función se aplica a las columnas, mientras que si se selecciona 1 se aplicará a las filas.
- **args**: Argumentos adicionales para la función.

In [13]:
dolar_blue = 350

In [14]:
bitcoin

                Open      High       Low     Close
Date
2021-01-01  28994.01  29600.63  28803.59  29374.15
2021-01-02  29376.46  33155.12  29091.18  32127.27
2021-01-03  32129.41  34608.56  32052.32  32782.02
2021-01-04  32810.95  33440.22  28722.76  31971.91
2021-01-05  31977.04  34437.59  30221.19  33992.43
...              ...       ...       ...       ...
2021-03-27  55137.57  56568.21  54242.91  55973.51
2021-03-28  55974.94  56610.31  55071.11  55950.75
2021-03-29  55947.90  58342.10  55139.34  57750.20
2021-03-30  57750.13  59447.22  57251.55  58917.69
2021-03-31  58930.28  59930.03  57726.42  58918.83

[90 rows x 4 columns]

>**<font color="RoyalBlue">Convertimos los valores del dataframe a pesos...**

In [15]:
bitcoin.apply(lambda x : x * dolar_blue)

                  Open        High         Low       Close
Date
2021-01-01  10147903.5  10360220.5  10081256.5  10280952.5
2021-01-02  10281761.0  11604292.0  10181913.0  11244544.5
2021-01-03  11245293.5  12112996.0  11218312.0  11473707.0
2021-01-04  11483832.5  11704077.0  10052966.0  11190168.5
2021-01-05  11191964.0  12053156.5  10577416.5  11897350.5
...                ...         ...         ...         ...
2021-03-27  19298149.5  19798873.5  18985018.5  19590728.5
2021-03-28  19591229.0  19813608.5  19274888.5  19582762.5
2021-03-29  19581765.0  20419735.0  19298769.0  20212570.0
2021-03-30  20212545.5  20806527.0  20038042.5  20621191.5
2021-03-31  20625598.0  20975510.5  20204247.0  20621590.5

[90 rows x 4 columns]

>**<font color="RoyalBlue">Convertimos los valores del dataframe a pesos...**

In [16]:
dolar_blue = 350

In [17]:
def conversion(x):
  return x * dolar_blue

In [18]:
bitcoin.apply(conversion)

                  Open        High         Low       Close
Date
2021-01-01  10147903.5  10360220.5  10081256.5  10280952.5
2021-01-02  10281761.0  11604292.0  10181913.0  11244544.5
2021-01-03  11245293.5  12112996.0  11218312.0  11473707.0
2021-01-04  11483832.5  11704077.0  10052966.0  11190168.5
2021-01-05  11191964.0  12053156.5  10577416.5  11897350.5
...                ...         ...         ...         ...
2021-03-27  19298149.5  19798873.5  18985018.5  19590728.5
2021-03-28  19591229.0  19813608.5  19274888.5  19582762.5
2021-03-29  19581765.0  20419735.0  19298769.0  20212570.0
2021-03-30  20212545.5  20806527.0  20038042.5  20621191.5
2021-03-31  20625598.0  20975510.5  20204247.0  20621590.5

[90 rows x 4 columns]

---
<p>
<font color="RoyalBlue">

💙 **Hemos llegado al fin de este cuaderno, felicitaciones estamos avanzando en Pandas, ahora a seguir en el proximo cuaderno...** 
</font>
</p>

---

# 😀

![](https://everisgroup.sharepoint.com/sites/BrandCenter/Shared%20Documents/Logo/FUTURE%20AT%20HEART/BLACK/FUTURE-HEARTH.png)