<a href="https://colab.research.google.com/github/cristiandarioortegayubro/P4DA/blob/main/plotly_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/cristiandarioortegayubro/P4DA/blob/main/Logo.png?raw=true)

![plotly](https://github.com/cristiandarioortegayubro/BA/blob/main/plotly.png?raw=true)


[plotly.com/python](https://plotly.com/python/)

# **<font color="RoyalBlue">Actualización e instalación de bibliotecas requerida</font>**

In [1]:
!pip install plotly --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.13.0-py2.py3-none-any.whl (15.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 17.7 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.13.0

In [2]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.9-py2.py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 3.8 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 12.5 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 13.7 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 51.4 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.9 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 13.4 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.9

[Plotly JupyterLab](https://plotly.com/python/getting-started/#jupyterlab-support)

# <font color="RoyalBlue">**Habilitando bibliotecas requeridas**</font>

## **<font color="RoyalBlue">Para análisis de datos</font>**

In [3]:
import pandas as pd

## **<font color="RoyalBlue">Para acceso remoto de datos</font>**

In [4]:
import yfinance as yf

## **<font color="RoyalBlue">Biblioteca gráfica</font>**

In [5]:
import plotly.express as px
import plotly.graph_objects as go

# **<font color="RoyalBlue">Obtención de datos. Cartera de inversiones**

In [6]:
acciones = ["BMA.BA","ALUA.BA","EDN.BA", "YPFD.BA", "PAMP.BA"]

In [7]:
cartera = yf.download(acciones, start="2021-12-30", end="2022-03-31").round(2)

[*********************100%***********************]  5 of 5 completed

In [9]:
cartera.head(3)

                          Adj Close                                  Close  \
                            ALUA.BA  BMA.BA EDN.BA PAMP.BA YPFD.BA ALUA.BA
Date
2021-12-30 00:00:00-03:00     88.14  262.30  57.05   166.2  778.45    93.0
2022-01-03 00:00:00-03:00     89.00  268.36  59.55   167.3  830.80    93.9
2022-01-04 00:00:00-03:00     87.57  264.76  58.70   166.3  843.90    92.4

                                                          ...    Open          \
                           BMA.BA EDN.BA PAMP.BA YPFD.BA  ... ALUA.BA  BMA.BA
Date                                                      ...
2021-12-30 00:00:00-03:00  287.60  57.05   166.2  778.45  ...    91.7  288.05
2022-01-03 00:00:00-03:00  294.25  59.55   167.3  830.80  ...    90.7  286.95
2022-01-04 00:00:00-03:00  290.30  58.70   166.3  843.90  ...    93.9  297.00

                                                  Volume                  \
                          EDN.BA PAMP.BA YPFD.BA ALUA.BA  BMA.BA  EDN.BA
Date
2021-12-30 00:00:00-03:00  52.50   162.0  807.95  683612  400021  291400
2022-01-03 00:00:00-03:00  57.15   170.0  789.95  507230   88435  289960
2022-01-04 00:00:00-03:00  58.00   170.0  830.80  486412  151600  164605


                           PAMP.BA YPFD.BA
Date
2021-12-30 00:00:00-03:00  1642963  424261
2022-01-03 00:00:00-03:00   457787  345091
2022-01-04 00:00:00-03:00   146070  213932

[3 rows x 30 columns]

# **<font color="RoyalBlue">Graficos</font>**

In [37]:
cartera.xs("BMA.BA", level=1, axis=1)

                           Adj Close   Close    High     Low    Open  Volume
Date
2021-12-30 00:00:00-03:00     262.30  287.60  301.95  287.00  288.05  400021
2022-01-03 00:00:00-03:00     268.36  294.25  298.00  282.50  286.95   88435
2022-01-04 00:00:00-03:00     264.76  290.30  299.00  287.00  297.00  151600
2022-01-05 00:00:00-03:00     256.60  281.35  297.00  281.00  290.00  236522
2022-01-06 00:00:00-03:00     263.94  289.40  292.90  279.00  283.45  139341
...                              ...     ...     ...     ...     ...     ...
2022-03-23 00:00:00-03:00     300.88  329.90  343.50  328.20  333.00  337166
2022-03-25 00:00:00-03:00     309.50  339.35  344.00  332.15  339.00  425433
2022-03-28 00:00:00-03:00     305.89  335.40  338.95  330.00  332.80  123540
2022-03-29 00:00:00-03:00     300.33  329.30  343.50  328.50  338.00  146693
2022-03-30 00:00:00-03:00     300.47  329.45  339.00  327.00  335.50  161851

[61 rows x 6 columns]

In [24]:
px.line(cartera.xs("BMA.BA", level=1, axis=1), 
        x=cartera.index, 
        y="Close",
        template="gridon",
        markers=True)

In [29]:
cartera.columns.get_level_values(1)

Index(['ALUA.BA', 'BMA.BA', 'EDN.BA', 'PAMP.BA', 'YPFD.BA', 'ALUA.BA',
       'BMA.BA', 'EDN.BA', 'PAMP.BA', 'YPFD.BA', 'ALUA.BA', 'BMA.BA', 'EDN.BA',
       'PAMP.BA', 'YPFD.BA', 'ALUA.BA', 'BMA.BA', 'EDN.BA', 'PAMP.BA',
       'YPFD.BA', 'ALUA.BA', 'BMA.BA', 'EDN.BA', 'PAMP.BA', 'YPFD.BA',
       'ALUA.BA', 'BMA.BA', 'EDN.BA', 'PAMP.BA', 'YPFD.BA'],
      dtype='object')

In [35]:
cartera.xs("Close", level=0, axis=1)

                           ALUA.BA  BMA.BA  EDN.BA  PAMP.BA  YPFD.BA
Date
2021-12-30 00:00:00-03:00     93.0  287.60   57.05   166.20   778.45
2022-01-03 00:00:00-03:00     93.9  294.25   59.55   167.30   830.80
2022-01-04 00:00:00-03:00     92.4  290.30   58.70   166.30   843.90
2022-01-05 00:00:00-03:00     90.9  281.35   56.30   158.55   828.40
2022-01-06 00:00:00-03:00     89.2  289.40   56.25   159.25   829.00
...                            ...     ...     ...      ...      ...
2022-03-23 00:00:00-03:00     94.6  329.90   63.05   179.40   924.70
2022-03-25 00:00:00-03:00     97.8  339.35   65.10   182.60   947.55
2022-03-28 00:00:00-03:00     97.9  335.40   64.90   180.20   931.70
2022-03-29 00:00:00-03:00     96.7  329.30   64.60   172.95   915.85
2022-03-30 00:00:00-03:00     96.7  329.45   66.15   176.80   937.55

[61 rows x 5 columns]

In [36]:
px.line(cartera.xs("Close", level=0, axis=1),
        x=cartera.index, 
        y=cartera.columns,
        color=cartera.columns.get_level_values(1),
        template="gridon",
        markers=True)

TypeError: ignored

---
<p>
<font color="RoyalBlue">

💙 **A seguir haciendo gráficos en el proximo cuaderno plotly...** 
</font>
</p>

---

# 😀